/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/basement/banner.jpg');"}
  .container
    %h1 Basement Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Basement Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Basement
            %span.insulation-color
              Insulation
          %p
            Your home’s basement provides a huge opportunity for energy savings.  As much as 30% of your heat loss is due to an uninsulated basement. Spray foam your full basement to create a seamless air and vapour barrier, this will eliminate both air drafts, chills, and moisture issues.

/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-5.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/4thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/3thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/1thumb.jpg"}/
          / End product thumb nav
      .col-md-7.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Basements are by nature subject to a lot of moisture
              %p
                By design they are located in a hole in the ground (duh, state the obvious) and surrounded by earth that typically is very wet and never dries out.  When they are initially poured, the concrete contains 1000's of gallons of water that takes a very long time to escape and dry out.  The area below grade can only dry to the interior of the house.  The area above ground freezes in the winter which makes for a perfect surface for condensation and frost to accumulate.
              %p.mt-10
                Poorly air sealed walls allow warm interior air to move behind the wall where it can come into contact with the very cold concrete and form liquid water or frost.  Come springtime, this frost melts, the water runs down the wall and onto the floor leading us to think that our basements are leaking.  The water and moisture that you don’t see provides the perfect breeding ground for mould and mildew. Homebuilders are fully aware that this happens as they get deluged (pardon the pun) with calls from their clients who think their basements are leaking.  They call this phenomenon “meltdown” (fitting?) and explain to their customers who’ve spent several hundred thousand dollars on their dream homes that this is a normal process and that their basements are not in fact leaking.   “Just wait a few days and you will see it will stop”.  Hardly what most new homeowners want to hear!
              %h5.bold.pb-10.pt-10
                Best Insultation Basement Spray Foam
              %p
                Years ago when many of the homes in Toronto and the GTA were built, people often left their basement partially or bully unfinished so that they could have a “cold room”. A cold room was necessary because they didn’t have huge fridges or even freezers, so they would use the basements as a utility cold room for perishables, their laundry and that is it.
              %p.mt-10
                Thankfully we don’t have the need for cold rooms anymore, and even though most basements have some kind of finishing, they haven’t been properly insulated and sealed.
              %p.mt-10
                Our Best Insulation team will completely seal your basement so that nothing will ever get in our out again. Your furnace will no longer work overtime, and your a/c unit will suddenly come alive again because you have just completely enveloped one of the most notorious spaces in your home for energy loss.
              %p.mt-10
                Now instead of a cold room, you can have a wonderful living area, and you can pay for it with the savings from your monthly bill.
