:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/basement/banner.jpg');"}
  .container
    %h1 Basement Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Basement Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Basement
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            Your home’s basement provides a huge opportunity for energy savings.  As much as 30% of your heat loss is due to an uninsulated basement. Spray foam your full basement to create a seamless air and vapour barrier, this will eliminate both air drafts, chills, and moisture issues.

/ Info Section START
.section-block.pt-20
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-4.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Basement Insulation by Best Insulation Toronto", :src => "/img/services/basement/basement-insulation.jpg"}/
          .col-md-8.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading
                Quality Insulation at Low Prices
              %h4.bold
                Basement Spray Foam Insulation

            .text-content-small
              %p
                Years ago when many of the homes in Toronto and the GTA were built, people often left their basement partially or bully unfinished so that they could have a “cold room”. A cold room was necessary because they didn’t have huge fridges or even freezers, so they would use the basements as a utility cold room for perishables, their laundry and that is it.
              %p
                Thankfully we don’t have the need for cold rooms anymore, and even though most basements have some kind of finishing, they haven’t been properly insulated and sealed.
              %p
                Our Best Insulation team will completely seal your basement so that nothing will ever get in our out again. Your furnace will no longer work overtime, and your a/c unit will suddenly come alive again because you have just completely enveloped one of the most notorious spaces in your home for energy loss.
              %p
                Now instead of a cold room, you can have a wonderful living area, and you can pay for it with the savings from your monthly bill.
