/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/sprayfoam/banner.jpg');"}
  .container
    %h1 Ceiling & Attic Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Ceiling & Attic Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Ceiling & Attic
            %span.insulation-color
              Insulation
          %p
            Most of the energy in your home is lost by because of air filtration through doors, windows the roof and walls. The best and most energy efficient way to prevent its loss is to have a properly insulated house.

/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-5.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/4thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/3thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/1thumb.jpg"}/
          / End product thumb nav
      .col-md-7.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Insulating Ceiling & Attic
              %p
                The quest for greater energy efficiency in buildings has led to increasing interest and need for insulation, improvements in HVAC equipment, more airtight construction, new materials and assemblies. Together with the rising cost of construction, there is increasing pressure to fully utilize all cavity spaces including attics such that valuable floor space in the building does not have to be sacrificed.  To this end, an unvented attic construction approach permits designers to locate equipment in the attic, knowing its performance will not be compromised. Furthermore, significant energy savings and building durability benefits are possible and energy efficiency targets can be more easily realized. For some designers this construction approach and how spray foam insulation can be used in it is unfamiliar.
              %h5.bold.pb-10.pt-10
                Why Would You Insulate Your Attic & Ceiling?
              %p
                Attics ceilings are a critical area to insulate while at the same time being prone to many problems. We can inspect your attic for things such as air leakage, excessive settling, adequate ventilation, moisture, proper draft stopping, unsafe insulation around heat sources and much more. If you do find problems we can recommend various solutions from insulation removal to draft stopping to improving air flow when needed or maybe just a simple top-up is needed depending on your requirements. In some cases you may not need anything and when that is the case we will simply inform you of the fact. Upgrading your attic insulation and air sealing can reduce heat loss by 25%.
              %p.mt-10
                We will also look at problems such as ice damming and pests that may have invaded your attic space. Sometimes the insulation is so damaged by mold and pests that you will want us to vacuum out the old insulation (even old batt or wood shaving insulation can be removed) and blow in new.
              %p.mt-10
                Sometimes the gaps and cracks are so significant that the best choice is to seal the whole floor with a flash (1″) of closed cell spray foam to seal all the cracks before blowing cellulose insulation on top to reach the full R-value.
