/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/painting/staining/staining_bg.jpg');"}
  .container
    %h1 Mudding
    %ul
      %li
        = link_to "Home", root_path
      %li
        Mudding Services
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Mudding
            %span.insulation-color
              Services
          %p
            Bottega is a customer-centric and quality driven company
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/mudding/item_1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "", :src => "/img/services/mudding/item_1.jpg"}/

          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Mudding Services
              %p
                At Bottega Construction, we believe in the right intent, completing every project without compromise. Our mudding approach with the use of the latest tools and equipment can change the final finish of the wall. Leave the mess to the pros.
              %p.mt-10
                We specialize in providing high-quality mudding and taping services for residential and commercial projects in the GTA. We use industry-standard material and modern equipment to ensure top of the line workmanship. With 20+ years of expertise and proven approach, our reliable drywall and taping tradesman work hard and systematically to exceed your expectations. We pay attention to every detail to deliver nothing but the best in everything we do. Our hand picked team executes drywall and taping installation project as planned and discussed.
              