/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/sprayfoam/banner.jpg');"}
  .container
    %h1 Spray Foam Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Spray Foam Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Spray Foam
            %span.insulation-color
              Insulation
          %p
            Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet. Spray Foam insulation can maximize a homeowners investment by sealing the building envelope to stop conditioned indoor air from escaping and prevent unconditioned air from entering a home.

/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-5.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/4thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/3thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/1thumb.jpg"}/
          / End product thumb nav
      .col-md-7.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                What is Spray Foam Insulation
              %p
                Spray Foam Insulation is a spray-applied plastic that can form a continuous insulation and air sealing barrier on walls, roofs, around corners, and on all contoured surfaces. It is made by mixing and reacting unique liquid components at the job site to create foam. The liquids react very quickly when mixed, expanding on contact to create foam that insulates, seals gaps, and can form moisture and vapor barriers. Spray Foam Insulation is known to resist heat transfer extremely well, and it offers a highly effective solution in reducing unwanted air infiltration through cracks, seams, and joints.
              %h5.bold.pb-10.pt-10
                Closed Cell Polyurethane Spray Foam
              %p
                Closed cell is the denser and more common of the two types of polyurethane spray foam. The common measurement system for foam resistance to heat flow (i.e., insulation) is a foam’s “R-Value.” Closed cell polyurethane foams have higher R-values than other types of foam, around 6.0 per inch, although some stronger ones have R-values of 7.14 per inch and higher. Closed cell foams feature better insulation because of this resistance, and are also more resistant to water degradation or penetration, which includes moisture build-up. Moisture can eventually attract bacterial growth, promoting mold, which can eat away at wood and compromise structural integrity. Preventing moisture migration can help greatly curb mold growth.
              %p.mt-10
                Closed cell foams are also dense enough to insulate air, preventing drafts and keeping in regulated temperatures. This density also prevents mold growth because temperature control can cut down on humidity, which spawns mold. In order to maintain their resistance, closed cell foams are usually dense and strong, and resemble solids when they fully form. This strength not only helps to insulate buildings and appliances, but can also strengthen walls to which it is applied.
              %h5.bold.pb-10.pt-10
                Open Cell Polyurethane Spray Foam
              %p
                Open cell polyurethane spray foams are much less common because they were originally manufactured by only one company, and their R-values are much fewer than those of closed cell sprays. However, as their strengths were discovered, other companies began using them. Installation is similar to that of closed cells, but the effects are different. Open cell foam sprays expand once applied, allowing them to be installed in hard to reach, out of the way nooks and crannies. This includes wall and ceiling cavities that can be difficult to seal with closed cell foams. The expansion feature will hermetically seal the area and provide proper insulation. However, the R-value of open cell polyurethane spray foam is lower, in the 3.6 to 3.8 per inch range. This means its heat resistance level is lower, which can cause insulation failures in extreme temperatures. Because open cell foam is still very dense, it provides good insulation. Open cell spray foam does not have water resistance, though, and its lower strength provides less support to walls. It is also more permeable to vapor and air, and lower noise frequency ranges.
              %p.mt-10
                Another positive attribute of open cell polyurethane foam is its cost. Because of its disadvantages compared to closed cell foam spray, it is more affordable. This can be a great boon when an application does not require airtight seals and hermetic moisture prevention. Caution needs to be taken, though, that the less expensive alternative does not lead to more expensive repairs in the future. Establishing the needs of a given application are important before choosing which foam spray to use.
