:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/sprayfoam/banner.jpg');"}
  .container
    %h1 Spray Foam Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Spray Foam Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Spray Foam
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet.

/ Spray Foam Services START
.section-block
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "http://via.placeholder.com/555x555"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", "data-lazy" => "http://via.placeholder.com/555x555", :src => "http://via.placeholder.com/555x555"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", "data-lazy" => "http://via.placeholder.com/555x555", :src => "http://via.placeholder.com/555x555"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", "data-lazy" => "http://via.placeholder.com/555x555", :src => "http://via.placeholder.com/555x555"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "http://via.placeholder.com/140x140"}/
            %li
              %img{:alt => "product-thumb", :src => "http://via.placeholder.com/140x140"}/
            %li
              %img{:alt => "product-thumb", :src => "http://via.placeholder.com/140x140"}/
            %li
              %img{:alt => "product-thumb", :src => "http://via.placeholder.com/140x140"}/
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .single-product
          %h2 Dummy Product Name
          .product-review-area
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %span (1 customer review)
          / Price Start
          .single-product-price
            %h4 $55.99
          / Price End
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate.
          / Quantity Form and Button Start
          .quantity.mt-30
            %form{:method => "get"}
              %input{:max => "99", :min => "1", :name => "quantity", :step => "1", :type => "number", :value => "1"}/
              %button.add-to-cart-button{:type => "submit"} Buy Now
          / Quantity Form and Button End
          .product-categories
            .display-b
              %span Category:
              %ul
                %li
                  %a{:href => "#"} Clothes
                %li
                  %a{:href => "#"} T-Shirts
            .display-b
              %span Product ID:
              %ul
                %li 345488
          .product-tags
            .display-b
              %span Product Tags:
              %ul
                %li
                  %a{:href => "#"} T-Shirt
                %li
                  %a{:href => "#"} Clothing
                %li
                  %a{:href => "#"} Shirts
                %li
                  %a{:href => "#"} Jeans
                %li
                  %a{:href => "#"} Trousers
          .product-share.mt-20
            %span Share:
            %a{:href => "#"}
              %i.fab.fa-facebook
            %a{:href => "#"}
              %i.fab.fa-twitter
            %a{:href => "#"}
              %i.fab.fa-google-plus
            %a{:href => "#"}
              %i.fab.fa-pinterest
/ Spray Foam Services END
