:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/sprayfoam/banner.jpg');"}
  .container
    %h1 Spray Foam Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Spray Foam
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet.
        .center-holder
          = render 'shared/quote'

/ Info Section START
.section-block.pt-20
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-4.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "img", :src => "img/services/sprayfoam/spray-foam.jpg"}/
          .col-md-8.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading
                Installed by Professionals
              %h4.bold
                Spray Foam Insulation

            .text-content-small
              %p.mb-0
                A professional installation by our expert team provides superior energy-efficiency; better sealing and air tightness; far higher R-Value per installed inch; and even structural strength throughout the installation area. When we have our initial
                %span
                  %b
                    FREE Consultation,
                we will fully inspect your home and determine the following:

            .col-md-6.col-sm-6.col-12.pl-0.pr-0.mt-15
              .section-heading.left-holder
                %ul.primary-list
                  %li
                    %i.fa.fa-check-square
                    Higher than average HVAC costs
                  %li
                    %i.fa.fa-check-square
                    Irregular heating and cooling patterns
                  %li
                    %i.fa.fa-check-square
                    Heating & cooling (HVAC) performance
            .col-md-6.col-sm-6.col-12.pl-0.pr-0
              .section-heading.left-holder
                %ul.primary-list
                  %li
                    %i.fa.fa-check-square
                    Evidence of mold growth (basement areas)
                  %li
                    %i.fa.fa-check-square
                    Air drafts, mostly noticeable in the basement
                  %li
                    %i.fa.fa-check-square
                    Obvious signs that insects, bugs or vermin
            .text-content-small
              %p.mt-20
                The benefits of Spray Polyurethane Foam is its capacity to seal. When we spray your home, our insulation will completely seal a given area, and it will form an air and vapor barrier that will not absorb water and will prevent condensation. The result is a building structure that is airtight - without undesirable heat loss; without the potential for mold; and with the most energy efficient envelope that any product can offer.
              %p
                Our team has seen just about every style of home and structure in Toronto and the GTA. We are based in Richmond Hill, so we don’t only work in Toronto, we live here.
              %p
                Unlike old school insulation, our spray foam will fill every energy wasting cavity in your home from walls and ceilings, attics and flat roofs, cathedral ceilings and floors and even garages.
              %p
                No more wasted energy dollars, and no more cold feet because the blanket doesn’t fit. Just warm winters, cool summers and added value to your home.
