/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/sprayfoam/banner.jpg');"}
  .container
    %h1 Spray Foam Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Spray Foam Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Spray Foam
            %span.insulation-color
              Insulation
          %p
            Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet. Spray Foam insulation can maximize a homeowners investment by sealing the building envelope to stop conditioned indoor air from escaping and prevent unconditioned air from entering a home.

/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/4.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/4thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/3thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/1thumb.jpg"}/
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          %h5.bold.pb-10
            What is Spray Foam Insulation
          %p
            Spray Foam Insulation is a spray-applied plastic that can form a continuous insulation and air sealing barrier on walls, roofs, around corners, and on all contoured surfaces. It is made by mixing and reacting unique liquid components at the job site to create foam. The liquids react very quickly when mixed, expanding on contact to create foam that insulates, seals gaps, and can form moisture and vapor barriers. Spray Foam Insulation is known to resist heat transfer extremely well, and it offers a highly effective solution in reducing unwanted air infiltration through cracks, seams, and joints.
          %h5.bold.pb-10.pt-30
            Closed-cell spray foam exterior applications
          %p
            • Can reject bulk water (ideal for flood zones)
            %br
            • Higher R-value per inch – easier to accommodate high R-value
            %br
            • Adds wall racking strength as well as impact resistance
            %br
            • Can be applied at very low temperatures (as low as 5oF)
            %br
            • Ideal for continuous insulation solutions
            %br
            • Lower vapor permeance (can be a Class II VDR)
            %br
            • Higher tensile and bond strength
          %h5.bold.pb-10.pt-30
            Closed-cell spray foam exterior applications
          %p
            • Can reject bulk water (ideal for flood zones)
            %br
            • Higher R-value per inch – easier to accommodate high R-value
            %br
            • Adds wall racking strength as well as impact resistance
            %br
            • Can be applied at very low temperatures (as low as 5oF)
            %br
            • Ideal for continuous insulation solutions
            %br
            • Lower vapor permeance (can be a Class II VDR)
            %br
            • Higher tensile and bond strength
