:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Walls Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Walls Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Walls
            %span.primary-color
              Insulation
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home.
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/4.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/sprayfoam/1.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/4thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/3thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/sprayfoam/1thumb.jpg"}/
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          %h5.bold.pb-10
            Walls Insulation
          %p.pb-10
            Your home may be well built, in a great neighborhood and you may even have awesome neighbors. However, if your home doesn’t have Best Insulation spray foam insulation, that beautiful investment of your is leaking dollars and energy like a rowboat with a hole in it.
          %p.pb-10
            When you contact Best Insulation, we will meet with you for a free consultation so that we can discuss budget, provide you with the most up to date rebates that are available to you, but also to insect your home so that we can best determine what insulation your home currently has, and also how the airflow travels in your home.
          %p.pb-10
            Our spray foam technique will seal every possible cavity in your walls from the largest void, down to a pin hole so that you can enjoy a completely enveloped home that is both energy and cost efficient, and also dramatically adds to the value of your investment.
