/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Walls Insulation
    %ul
      %li
        = link_to "Services", services_path
      %li
        Walls Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Walls
            %span.insulation-color
              Insulation
          %p
            If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home.
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-5.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/walls/0.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/walls/1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/walls/2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/walls/3.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/walls/0thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/walls/1thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/walls/2thumb.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/walls/3thumb.jpg"}/
          / End product thumb nav
      .col-md-7.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Spray Foam Insulation in Interior Walls
              %p
                Wall insulation is a big part of having your home insulated. Beyond cost savings on your energy bills, insulation can also help improve the comfort of your home or office. Ensuring that adequate insulation has been installed under your floors, in your walls, attics and ceilings helps keep these warmer during the winter months and prevents air drafts during the summer. Further, wall insulation, floor insulation and attic insulation can help maintain cooler temperatures during summer. Soundproofing or installing acoustic insulation can help reduce extraneous noises from outside.
              %h5.bold.pb-10.pt-10
                Bottega Construction Wall Spray Foam Service
              %p
                Your home may be well built, in a great neighborhood and you may even have awesome neighbors. However, if your home doesn’t have Bottega Construction spray foam insulation, that beautiful investment of your is leaking dollars and energy like a rowboat with a hole in it.
              %p.mt-10
                When you contact Bottega Construction, we will meet with you for a free consultation so that we can discuss budget, provide you with the most up to date rebates that are available to you, but also to insect your home so that we can best determine what insulation your home currently has, and also how the airflow travels in your home.
              %p.mt-10
                If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home. Our spray foam technique will seal every possible cavity in your wills from the largest void, down to a pin hole so that you can enjoy a completely enveloped home that is both energy and cost efficient, and also dramatically adds to the value of your investment.
