/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Energy Efficiency & Savings
    %ul
      %li
        = link_to "Spray Foam", spray_foam_index_path
      %li
        Energy Efficiency & Savings
/ Page Title END
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Energy Efficiency
            %span.primary-color
              & Savings
          %p
            We will help you save money while enhancing your home comfort by applying the proper spray foam insultion to eliminate drift and unwanted vermins entering your home. Keep your home warm in the winter and cool in the summer.

/ Info Section START
.section-xs.bg-grey
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-3.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Best Insulation Walls Insulation", :src => "/img/why/energy-efficiency.jpg"}/
          .col-md-9.col-sm-6.col-12.pt-20.pb-20
            .section-heading.left-holder
              .subheading.mt-5
                Save money on your energy bills
              %h5.bold
                Ensuring that your home is properly insulated
            .text-content.mt-20
              %p.content
                Insulation products are designed to save energy while enhancing home comfort. And insulating the home is one of the most cost-effective improvements a homeowner can make. When a home stays warm in winter and cool in summer, without unnecessary energy loss, the utility savings are significant. And every home can benefit - whether it’s a new build, a renovation or a retrofit.
              %p.content
                Where spray foam insulation is not fully covered by drywall, a thermal barrier (or fire barrier) is an absolute requirement of the building code. Drywall (gypsum board or sheetrock) is an approved thermal barrier. In the event that there is no drywall, a spray applied thermal barrier can be applied over the spray foam to meet the required building code. Here, a professional approach is highly recommended so that the right product and install are employed. In addition, it’s important to satisfy the building code, while ensuring safety for occupants.
              %p.content
                In practically every home, at least 30% of heat loss is from the basement. In addressing this issue, more and more insulation contractors are installing spray polyurethane foam insulation (SPFI) into basement walls. In one application SPFI provides an exceptional insulation envelope, an effective air barrier, and an equally effective vapor barrier. For the optimum in insulation, contractors are also insulating basement floors – this serves to inhibit any air movement, prevent moisture accumulation, and insulate like no other product.
              %p
                In the basement, the concrete floor transfers cold from the ground below. This results in a cold floor and an uncomfortable space. Here, the ideal solution is to create a “thermal break” by applying spray foam into the floor gravel before pouring the final concrete covering. With this application, the concrete floor covering will hold the indoor heat, and consequently create a warmer, more comfortable indoor environment. This is the ultimate basement insulation, inhibiting airflow and moisture collection, while insulating at the same time.
