/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Health & Safety
    %ul
      %li
        = link_to "Spray Foam", spray_foam_index_path
      %li
        Health & Safety
/ Page Title END
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            You're health and our teams health is our #1 priority
          %h2.bold
            Health
            %span.primary-color
              &
            Safety

          %p
            Committed to the Responsible Use of Spray Foam Insulation


/ Info Section START
.section-xs.bg-grey
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-3.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Bottega Construction Walls Insulation", :src => "/img/why/why-spray-foam.jpg"}/
          .col-md-9.col-sm-6.col-12.pt-20.pb-20
            .section-heading.left-holder
              .subheading.mt-5
                Properly insulates your home and saves you energy.
              %h5.bold
                Keep your home warm in the winter and cold in the summer
            .text-content.mt-30
              %p.content
                Your home may be well built, in a great neighborhood and you may even have awesome neighbors.
              %p.content
                However, if your home doesn’t have Bottega Construction spray foam insulation, that beautiful investment of your is leaking dollars and energy like a rowboat with a hole in it.
              %p.content
                When you contact Bottega Construction, we will meet with you for a free consultation so that we can discuss budget, provide you with the most up to date rebates that are available to you, but also to insect your home so that we can best determine what insulation your home currently has, and also how the airflow travels in your home.
              %p
                Our spray foam technique will seal every possible cavity in your walls from the largest void, down to a pin hole so that you can enjoy a completely enveloped home that is both energy and cost efficient, and also dramatically adds to the value of your investment.
