
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Spray Foam
    %ul
      %li
        = link_to "Home", home_index_path
      %li
        Spray Foam
