/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Moisture Control
    %ul
      %li
        = link_to "Spray Foam", spray_foam_index_path
      %li
        Moisture Control
/ Page Title END
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Moisture
            %span.primary-color
              Control
          %p
            When professionally installed, spray foam (Spray Polyurethane Foam) serves as a vapour barrier. In fact, SPF does the most complete job of any application – it provides excellent thermal insulation; an effective air barrier; and an efficient vapour barrier all at one time. Best of all, installing SPF provides the highest R-Value of any insulation material available today.

/ Info Section START
.section-xs.bg-grey
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-3.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Bottega Construction Walls Insulation", :src => "/img/why/moisture-control.jpg"}/
          .col-md-9.col-sm-6.col-12.pt-20.pb-20
            .section-heading.left-holder
              .subheading.mt-5
                Spray foam prevents moisture build up
              %h5.bold
                Is Spray Foam a Vapour Barrier?
            .text-content.mt-20
              %p.content
                For many professionals, Spray Polyurethane Foam has proven to be the best overall product for the job. And while municipal building inspectors recognize SPF as a vapour barrier “system”, there remain various interpretations, depending on locale. At Bottega Construction, the team can professionally assess a project and verify code requirements. As it is, SPF delivers consistent results in spaces where air and moisture control are critical to the success of the project.
              %p.content
                Whatever the project, and regardless of scope, Spray Polyurethane Foammust be installed with a professional touch. At Bottega Construction, the install teams specialize in SPF. Installers are experts in the field, and have years of experience with the SPF product and the installation. Bottega Construction team abide by construction standards, national building codes, and local by-laws.  Everything is installed according to the manufacturer’s product specifications, without taking any shortcuts.
