/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Spray Foam vs. Traditional Insulation
    %ul
      %li
        = link_to "Spray Foam", spray_foam_index_path
      %li
        Spray Foam vs. Traditional Insulation
/ Page Title END
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            %span.primary-color
              Spray Foam
            vs. Traditional Insulation
          %p
            In comparison to traditional insulation, spray foam insulation dually serves as an energy-efficient solution, while also offering a cost-saving return on your investment. You will save in energy costs as spray foam insulation pays for itself within a few years.

/ Info Section START
.section-xs.bg-grey
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-3.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Best Insulation Walls Insulation", :src => "/img/why/sprayfoam-vs-traditional.jpg"}/
          .col-md-9.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading.mt-5
                Properly insulates your home and saves you energy.
              %h5.bold
                Spray Foam Insulation Advantages compared to Traditional Insulation
            .text-content.mt-30
              %p.content
                Homeowners have a wide array of insulation materials to choose from, when it comes to insulating their home, and it can be difficult to negotiate the decision-making process. Traditional insulations, like fibreglass and cellulose, are both materials that are commonly used. They provide good value in terms of thermal insulation, however, spray foam is a modern insulating material that can help transform your house into a more comfortable home. Compare spray foam to fibreglass and cellulose.
              %p.content
                Spray foam insulation out-performs traditional fiberglass insulation in every measurable category, and will remain intact and last for the life of the home or building.* Spray foam will continue to efficiently insulate, whereas traditional fiberglass sags and settles, causing it to no longer perform at its original R-value.
              %p.content
                In addition to rising costs, many homeowners are also concerned about the environment, and along with other measures are actively taking environmentally-conscious steps to recycle and repurpose.
              %h6.bold.mt-30
                Spray Foam Inuslation
              %p.content.mt-10
                Thanks to Best Insulation's spray foam ability to air seal, the amount of conditioned air that your home loses can be reduced. This air barrier can also help minimize cold spots and drafts in your home. Spray foam insulation is a modern insulation material. When applied, spray foam insulation can expand up to 100 times its size, making it possible to fill every available space for both air sealing and thermal insulation that performs all year round.
              %p.content.mt-10
                Soft, open-cell spray foam can allow water to pass through it should there be any leaks letting you repair any damage easily. Closed cell foam can reject bulk water, making it an ideal option for areas prone to flooding such as the Prairies. Staying in place for the life of the building, spray foam insulation won’t sag or settle over time.
              %p.content.mt-10
                The air sealing qualities that spray foam has, wherever it is applied, can help reduce the volume of allergens and pollutants entering your home. Many spray foam insulation products do not include harmful components that hurt the environment, making them safer to have installed. Spray foam insulation is not considered a food source for any pest you may be concerned about in your home. The material is also not good for making nests with.
              %h6.bold.mt-30
                Tradional Spray Foam
              %p.content.mt-10
                When fibreglass insulation and cellulose insulation are installed, gaps can be left in hard-to-reach or complex areas, which can allow for air loss in your home. Air leakage can contribute to higher-than-average heating and cooling costs. Traditional insulation materials may not meet the latest building codes in your particular province. Modern cellulose insulation is not much more than shredded newspaper.
              %p.content.mt-10
                Fibreglass insulation and cellulose insulation can be challenging to install perfectly, which can lead to gaps that add up to the size of a basketball. The air leakage from your home can fill two blimps each day. Traditional insulation materials could retain water potentially damaging your home as well as reducing the functionality of the insulation. Water retention could also lead to potential mould growth.
              %p.content.mt-10
                Traditional materials may, over time, compromising their ability to insulate. Insulation made from traditional materials like cellulose can be dusty and, due to their inability to create an air seal, allergens and other pollutants may be able to enter your home. Most fibreglass products contain formaldehyde. They could potentially emit formaldehyde fumes into your home. Fibreglass insulation and cellulose insulation can both be torn apart by common pests, and these materials are used for nesting, sometimes.
