:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 Why Spray Foam?
    %ul
      %li
        = link_to "Spray Foam", spray_foam_index_path
      %li
        Walls Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Walls
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home.
        .center-holder
          = render 'shared/quote'

/ Info Section START
.section-block.pt-20
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-4.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Best Insulation Walls Insulation", :src => "/img/services/walls/walls-insulation.jpg"}/
          .col-md-8.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading
                Quality Insulation at Low Prices
              %h4.bold
                Walls Spray Foam Insulation

            .text-content-small
              %p
                Your home may be well built, in a great neighborhood and you may even have awesome neighbors.
              %p
                However, if your home doesn’t have Best Insulation spray foam insulation, that beautiful investment of your is leaking dollars and energy like a rowboat with a hole in it.
              %p
                When you contact Best Insulation, we will meet with you for a free consultation so that we can discuss budget, provide you with the most up to date rebates that are available to you, but also to insect your home so that we can best determine what insulation your home currently has, and also how the airflow travels in your home.
              %p
                Our spray foam technique will seal every possible cavity in your walls from the largest void, down to a pin hole so that you can enjoy a completely enveloped home that is both energy and cost efficient, and also dramatically adds to the value of your investment.
