

!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemalocation" => "http://www.sitemaps.org/schemas/sitemap/0.9\n http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  - for post in @posts
    %url
      %loc http://www.bottegaconstruction.com/
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 1.00
    %url
      %loc http://www.bottegaconstruction.com/home
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/who_are_we
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/customer_promise
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/sustainability
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/affiliations
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/partners
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/blog
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about/faqs
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/about
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/rebates
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/spray_foam/why_spray_foam
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/spray_foam/moisture_control
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/spray_foam/energuide_ratings
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/spray_foam/spray_foam_vs_traditional
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/spray_foam/energy_efficiency_and_savings
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/services/spray_foam_insulation
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/services/ceiling_and_attic_insulation
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/services/walls_insulation
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/services/basement_insulation
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/services
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/reviews
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/gallery
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/home/contact_us
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.80
    %url
      %loc http://www.bottegaconstruction.com/blog/new_website
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.64
    %url
      %loc http://www.bottegaconstruction.com/blog/best_insulation_video
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.64
    %url
      %loc http://www.bottegaconstruction.com/spray_foam
      %lastmod 2018-09-17T20:35:18+00:00
      %priority 0.64
