/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/drywall/installation/installation_bg.jpg');"}
  .container
    %h1 Drywall Services
    %ul
      %li
        = link_to "Home", root_path
      %li
        Drywall Installation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Drywall
            %span.insulation-color
              Installation Services
          %p
            Bottega is a customer-centric and quality driven company
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/installation/item_1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/installation/item_2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/installation/item_3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/installation/item_4.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/installation/item_1.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/installation/item_2.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/installation/item_3.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/installation/item_4.jpg"}/
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Drywall Installation
              %p
                There are two common ways to finish a wall or ceiling, either with drywall or plaster. Most people are used to seeing drywall as it has become the more popular option both for its affordability and ease of installation process. It has a smooth appearance and can easily be painted or wall papered to complete your design vision. Drywall is also a great energy efficient option as it allows you choices for insulating the walls.
              %p.mt-10
                Plaster is a higher end wall finish due to the training, skill and labour it requires. With plaster, you can create a textured wall that no other wall can match! Although it may not be the best energy efficient option it does provide more of a sound barrier than drywall and a look like no other. Plaster is a very common option for ceiling designs and they add a truly beautiful design in your home.

