/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/drywall/soundproofing/soundproofing_bg.jpg');"}
  .container
    %h1 Soundproofing Services
    %ul
      %li
        = link_to "Home", root_path
      %li
        Soundproofing
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Drywall
            %span.insulation-color
              Soundproofing Services
          %p
            Bottega is a customer-centric and quality driven company
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/soundproofing/item_1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/soundproofing/item_2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/drywall/soundproofing/item_3.jpg"}/
            
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/soundproofing/item_1.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/soundproofing/item_2.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/drywall/soundproofing/item_3.jpg"}/
            
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Soundproofing Drywall
              %p
                Soundproofing drywall can increase available floor space, because the overall depth of the wall design can be thinner. In medium-to-large sized projects with many partitions into small offices or rooms, using soundproofing drywall will increase usable floor space because each wall can be relatively thin compared to standard noise control designs with multiple drywall layers on each side.
              %p.mt-10
                When correctly installed, soundproofing drywall will outperform the old-school methods of doubling or tripling up the drywall layers. Most importantly, using it is also far more reliable than using a DIY method such as adding a viscous compound like GreenGlue or QuietGlue manually between two drywall sheets, which requires a highly skilled crew that won’t make mistakes during construction.


