/ Services Block START
.section-block.pb-60.pt-60
  .container
    .col-md-8.col-sm-12.col-12.offset-md-2
      .section-heading.center-holder
        %small
          We thrive on customer satisfaction!
        %h2.bold
          Drywall Services
          %span.insulation-color GTA
        -# .section-heading-line
        %p
          Bottega is a customer-centric and quality driven company
    .row.mt-30
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/drywall/installation/item_1.jpg"}/
          .services-text
            %h3
              Installation Services
            %p.center
              There are two common ways to finish a wall or ceiling, either with drywall or plaster. Most people are used to seeing drywall as it has become the more popular option both for its affordability and ease of installation process. 
            .services-2-button.left-holder
              %a{href: installation_drywall_index_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/drywall/soundproofing/item_3.jpg"}/
          .services-text
            %h3
              Soundproofing Services
            %p
              Soundproofing drywall can increase available floor space, because the overall depth of the wall design can be thinner. In medium-to-large sized projects with many partitions into small offices or rooms, using soundproofing...
            .blog-grid-2-button.left-holder
              %a{href: soundproofing_drywall_index_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/drywall/taping/item_3.jpg"}/
          .services-text
            %h3
              Taping Services
            %p
              We provide professional grade taping on all corners and joints prior to mudding and sanding to keep your walls looking their best. This step is critical to the keeping your walls smooth and pristine for decades. 
            .blog-grid-2-button.left-holder
              %a{href: taping_drywall_index_path}
                Continue Reading
                %i.fas.fa-chevron-right
      