:css
  .footer-style-3 h3 {
    margin-bottom: 18px;
    font-size: 15px;
  }
  .grid-gallery-3col {
    margin-top: -1px;
  }
  .grid-gallery-3col .gallery-item {
    width: calc(100% / 3 - 5px);
    margin: 1px;
    float:left;
  }
  h3 a {
    color: white;
  }
  h3 a:hover {
    color: #DFC746;
  }

  ul li span a{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
  }
  ul li span a:hover{
    font-size: 13px;
    font-weight: 600;
    color: #DFC746;
    margin-bottom: 0px;
  }
  .short .heading {
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 0px;
  }
  .short .heading .article{
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 0px;
    padding: 10px 0 10px 0;
  }
  .short .heading a {
    color: #fff;
  }
  .short .heading a:hover {
    color: #DFC746;
  }
  .short .body ul li span {
    color:white;
  }
  .short .body {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
  }
  .short .body a {
    color: white;
  }
  .short .body a:hover {
    color: #DFC746;
  }
  .footer-style-3-bar .btm-footer {
    font-weight: 500;
  }
  .footer-style-3-bar .btm-footer a {
    font-weight: 500;
  }

%footer.footer-style-3.background-center.black-overlay-60.hidden-sm-down{:style => "background-image: url(img/footer/footer-background.jpg);"}
  .container
    .row
      / Column 1 Start
      .col-md-3.col-sm-6.col-12
        %img{:alt => "Best Insulation Footer White Logo", :src => "img/logos/logo-footer.svg", style:"width: 250px;"}/
        .mt-20
          %p
            Best Insulation offers free consultations to help clients decide which insulation product is the best solution. We are capable of servicing the smallest local contracts to the largest residential jobs throughout the Greater Toronto Area. Best Insulation is a family run company that prides itself on high knowledge on its products and craftsmanship. A owner is always on site during installation and we are available to you 24/7.
          %a.small-text.white-color{:href => "#"} More About us
      / Column 1 End
      / Column 2 Start
      .col-md-4.col-sm-6.col-12.center-holder-xs
        .short
          %h3
            %a{:href => "/"}
              View All Photos
          .grid-gallery-3col.gallery-style-1.clearfix
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-1.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-1.jpg"}
                      %i.ti-zoom-in
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-2.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-2.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-3.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-3.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-4.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-4.jpg"}
                      %i.ti-zoom-in
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-5.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-5.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-6.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-6.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-7.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-7.jpg"}
                      %i.ti-zoom-in
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-8.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-8.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery
            .gallery-item
              %img{:alt => "img", :src => "img/footer/gallery/photo-9.jpg", :title => "image"}/
              .gallery-overlay
                .gallery-content
                  .gallery-content-inner
                    %a.image-popup-gallery{:href => "img/footer/gallery/photo-9.jpg"}
                      %i.ti-zoom-in
                    %a{:href => "#"}
                      %i.ti-gallery

      / Column 2 End
      / Column 3 Start
      .col-md-3.col-sm-6.col-12
        .short
          .heading
            %h3
              %a{:href => "/"}
                View Recent Article
          %img{:alt => "img", :src => "img/footer/article.jpg"}/
          .heading
            .article
              %a{:href => "/"}
                Reviews on Spray Foam Insulation
          %p.body
            The end of the year brings the inevitable reviews and “Best Of” lists in all kinds of categories. This year, we decided to join in on the fun and post our reviews on spray foam insulation, or the best...
            %a.primary-color{:href => "#"} Read More

      / Column 3 End
      / Column 3 Start
      .col-md-2.col-sm-6.col-12
        .short
          .heading
            %h3
              Contact Us
          .body
            %h3.mb-0
              ALI
            %ul.footer-style-3-contact-info
              %li
                %i.fa.fa-phone
                %span
                  %a{:href => "tel:1-647-829-9797"}
                    +1(647) 829-9797
              %li
                %i.fa.fa-envelope-open
                %span
                  %a{:href => "mailto:ali@bestinsulation.ca?Subject=Website-%20Services%20Inquiry", :target => "_top"}
                    ali@bestinsulation.ca

            %h3.mb-0.mt-10{style:"margin-top:10px"}
              MO
            %ul.footer-style-3-contact-info
              %li
                %i.fa.fa-phone
                %span
                  %a{:href => "tel:1-416-319-1212"}
                    +1(416) 319-1212
              %li
                %i.fa.fa-envelope-open
                %span
                  %a{:href => "mailto:mo@chicasadesign.com?Subject=Website-%20Services%20Inquiry", :target => "_top"}
                    ali@bestinsulation.ca
            %ul.footer-style-3-contact-info.mt-10
              %li
                %i.fa.fa-map-marker-alt
                %span
                  %a{:href => "https://goo.gl/maps/xZDzag2pVuQ2", target:"_blank"}
                    9040 Leslie St #201
                    %br
                    Richmond Hill, ON
                    %br
                    L4B 3L8 Canada

              %li
                %i.fa.fa-globe
                %span
                  %a{:href => "http://www.bestinsulation.ca/"}
                    www.bestinsulation.ca

      / Column 3 End
  .footer-style-3-bar.mt-30
    .container
      .row
        .col-md-3.col-sm-6.col-12.mt-10.center-holder-xs
          %h5.btm-footer
            © 2018 Best Insulation. All Rights Reserved.
        .col-md-3.col-sm-6.col-12.right-holder.center-holder-xs.offset-md-1
          %ul.footer-style-3-social-links
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-pinterest
            %li
              %a{:href => "#"}
                %i.fab.fa-instagram
            %li
              %a{:href => "#"}
                %i.fab.fa-google-plus-g

        .col-md-3.col-sm-6.col-12.mt-10.right-holder.center-holder-xs.offset-1
          %h5.btm-footer
            Created with love
            %a{:href => "/"}
              %span{style:"margin-top"}
                %img.img-fluid{:alt => "Designed and developed by Arif Alim", :src => "img/footer/logos/arif_icon.png", style:"width: 30px; margin-top: -18px; margin-left:10px"}/


/ Footer END
/ Scroll to top button Start
%a.scroll-to-top{:href => "#"}
  %i.fas.fa-chevron-up
/ Scroll to top button End
/ Jquery
%script{:src => "js/jquery.min.js"}
/ Plugins JS
%script{:src => "js/plugins.js"}
/ Navbar JS
%script{:src => "js/navigation.js"}
%script{:src => "js/navigation.fixed.js"}
/ Google Map
%script{:src => "js/map.js"}
/ Main JS
%script{:src => "js/main.js"} */

/ Start of Zendesk Chat Script
:javascript
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?5vo8CGYePJBSjlt0UyzgJGGoaHYQRAD6";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
/ End of Zendesk Chat Script
