
%footer.footer-style-3.background-center.black-overlay-70{:style => "background-image: url(img/footer/background-insulation.jpg);"}
  .container
    .row
      / Column 1 Start
      .col-md-5.col-sm-6.col-12
        %img{:alt => "Best Insulation Footer White Logo", :src => "img/logos/logo-footer.svg", style:"width: 250px"}/
        .mt-20
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip.
          %a.small-text.white-color{:href => "#"} More About us
      / Column 1 End
      / Column 2 Start
      .col-md-3.col-sm-6.col-12.offset-md-1
        %h3 Latest News
        %ul.footer-style-3-latest-news
          %li
            %span 30.03.2018
            %a{:href => "#"} Save Time &amp; Money In Your Business
          %li
            %span 29.03.2018
            %a{:href => "#"} Excellent template with a very ...
          %li
            %span 28.03.2018
            %a{:href => "#"} Kudos design and code team!
      / Column 2 End
      / Column 3 Start
      .col-md-3.col-sm-6.col-12
        %h3 Contact Info
        %ul.footer-style-3-contact-info
          %li
            %i.fa.fa-phone
            %span +11 (0) 123 456 7890
          %li
            %i.fa.fa-envelope-open
            %span specthemes@gmail.com
          %li
            %i.fa.fa-map-marker-alt
            %span New York, NY Sheram 113
          %li
            %i.fa.fa-phone-square
            %span +11 (0) 123 456 7890
      / Column 3 End
  .footer-style-3-bar
    .container
      .row
        .col-md-6.col-sm-6.col-12.mt-10
          %h5 SpecThemes © 2018. All Rights Reserved.
        .col-md-6.col-sm-6.col-12.right-holder.center-holder-xs
          %ul.footer-style-3-social-links
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fab.fa-linkedin
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-pinterest
            %li
              %a{:href => "#"}
                %i.fab.fa-skype


/ Footer END
/ Scroll to top button Start
%a.scroll-to-top{:href => "#"}
  %i.fas.fa-chevron-up
/ Scroll to top button End
/ Jquery
%script{:src => "js/jquery.min.js"}
/ Plugins JS
%script{:src => "js/plugins.js"}
/ Navbar JS
%script{:src => "js/navigation.js"}
%script{:src => "js/navigation.fixed.js"}
/ Google Map
%script{:src => "js/map.js"}
/ Main JS
%script{:src => "js/main.js"} */

/ Start of Zendesk Chat Script
:javascript
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?5vo8CGYePJBSjlt0UyzgJGGoaHYQRAD6";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
/ End of Zendesk Chat Script
