%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title Bottega Construction
%meta{:charset => "UTF-8"}/
%link{:href => "/img/logos/logo-shortcut.png", :rel => "shortcut icon"}/
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
%meta{:content => "spray foam insulation toronto, toronto spray foam installers, spray foam toronto", :name => "keywords"}/
%meta{:content => "Bottega Construction services in The Greater Toronto Area include spray foam insulation, insulation removal, basement & attic insulation and rebate guides.", :name => "description"}/
%meta{:content => "Bottega Construction", :property => "og:site_name"}/
%meta{:content => "Spray Foam Insulation Experts in Toronto", :property => "og:title"}/
%meta{:content => "http://www.bestinsulation.ca/", :property => "og:url"}/
/ =========== Goolge Webmaster Tools ===========
-# %meta{:content => "uQenDw3MS-GDWYZjRBgS90VVgcOQFIhOD0quSg47pyU", :name => "google-site-verification"}/
%meta{:content => "JHGe92MDfLjKPsH6cq1Q0M8kbTIDErd7df-fhf8dHxQ", :name => "google-site-verification"}/
/ ============= Pinterest ===================
%meta{:content => "520b32d1ea938a925480173b5e585386", :name => "p:domain_verify"}/
/ Bootstrap CSS
%link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
/ Themify icons
%link{:href => "/css/themify-icons.css", :rel => "stylesheet", :type => "text/css"}/
/ Font-Awesome
%link{:href => "/css/fontawesome-all.css", :rel => "stylesheet", :type => "text/css"}/
/ Icomoon
%link{:href => "/icomoon/icons.css", :rel => "stylesheet", :type => "text/css"}/
/ Plugins
%link{:href => "/css/plugins.css", :rel => "stylesheet", :type => "text/css"}/
/ Animate.css
%link{:href => "/css/animate.css", :rel => "stylesheet"}/
/ Owl Carousel
%link{:href => "/css/owl.carousel.css", :rel => "stylesheet"}/
/ Swiper Slider Styles
%link{:href => "/css/slider.css", :rel => "stylesheet"}/
/ Navbar Styles
%link#navigation_menu{:href => "/css/navigation.css", :rel => "stylesheet", :type => "text/css"}/
/ Main Styles
%link{:href => "/css/default.css", :rel => "stylesheet", :type => "text/css"}/
%link#main_styles{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}/
/ Fonts Google
%link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
/ Jquery
%script{:src => "/js/jquery.min.js"}
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "application"
= javascript_include_tag "application"
