
/ Navbar START
%header
  %nav#navigation1.container.navigation
    .nav-header
      %a.nav-brand{:href => "index.html"}
        %img#main_logo{:alt => "logo", :src => "img/logos/logo.svg", style:"width:230px; margin-bottom:-23px"}/
      .nav-toggle
    .nav-menus-wrapper
      %ul.nav-menu.align-to-right
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "#"} About Us
          %ul.nav-dropdown
            %li
              %a{:href => "automotive"} Who Are We?
            %li
              %a{:href => "automotive"} Customer Promise
            %li
              %a{:href => "automotive"} Sustainability
            %li
              %a{:href => "automotive"} Affiliations
            %li
              %a{:href => "automotive"} Partners
            %li
              %a{:href => "automotive"} Testimonials
            %li
              %a{:href => "automotive"} News & Media
            %li
              %a{:href => "automotive"} Blog
            %li
              %a{:href => "automotive"} FAQ's
        %li
          %a{:href => "#"} Why Spray Foam?
          %ul.nav-dropdown
            %li
              %a{:href => "automotive"} Who Are We?
            %li
              %a{:href => "automotive"} Customer Promise
            %li
              %a{:href => "automotive"} Sustainability
            %li
              %a{:href => "automotive"} Affiliations
            %li
              %a{:href => "automotive"} Partners
            %li
              %a{:href => "automotive"} Testimonials
            %li
              %a{:href => "automotive"} News & Media
            %li
              %a{:href => "automotive"} Blog
            %li
              %a{:href => "automotive"} FAQ's
            %li
              %a{:href => "contact-us"} Rebates
        %li
          %a{:href => "#"} Services
          %ul.nav-dropdown
            %li
              %a{:href => "automotive"} Spray Foam Insulation
            %li
              %a{:href => "banking"} Ceiling Insulation
            %li
              %a{:href => "capital-markets"} Walls Insulation
            %li
              %a{:href => "consumer-goods"} Basement Insulation
        %li
          %a{:href => "news"} Reviews
        %li
          %a{:href => "contact-us"} Gallery
        %li
          %a{:href => "contact-us"} Contact Us
        %li
          %a{:href => "contact-us"} Request A Quote
