
/ Navbar START
%header
  %nav#navigation1.container.navigation
    .nav-header
      %a.nav-brand{:href => "index.html"}
        %img#main_logo{:alt => "logo", :src => "/img/logos/logo.svg", style:"width:230px; margin-bottom:-23px"}/
      .nav-toggle
    .nav-menus-wrapper
      %ul.nav-menu.align-to-right
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "#!"} About Us
          %ul.nav-dropdown
            %li
              %a{:href => "who-are-we"} Who Are We?
            %li
              %a{:href => "customer-promise"} Customer Promise
            %li
              %a{:href => "sustainability"} Sustainability
            %li
              %a{:href => "affiliations"} Affiliations
            %li
              %a{:href => "partners"} Partners
            %li
              %a{:href => "testimonials"} Testimonials
            %li
              %a{:href => "news-and-media"} News & Media
            %li
              %a{:href => "blog"} Blog
            %li
              %a{:href => "faqs"} FAQ's
        %li
          %a{:href => "#!"} Why Spray Foam?
          %ul.nav-dropdown
            %li
              %a{:href => "spray-foam"} Spray Foam
            %li
              %a{:href => "health-and-safety"} Health & Safety
            %li
              %a{:href => "moisture-control"} Moisture Control
            %li
              %a{:href => "energuide-ratings"} Energuide Ratings
            %li
              %a{:href => "open-or-closed-cell"} Open or Closed Cell
            %li
              %a{:href => "home-insulation-guide"} Home Insulation Guide
            %li
              %a{:href => "ontario-cap-and-trade"} Ontario's Cap & Trade
            %li
              %a{:href => "spray-foam-vs-traditional"} Spray Foam vs Traditional
            %li
              %a{:href => "energy-efficiency-and-savings"} Energy Efficiency & Savings
        %li
          %a{:href => "#"} Services
          %ul.nav-dropdown
            %li
              %a{:href => "spray-foam-insulation"} Spray Foam Insulation
            %li
              %a{:href => "ceiling-insulation"} Ceiling & Attic Insulation
            %li
              %a{:href => "walls-insulation"} Walls Insulation
            %li
              %a{:href => "basement-insulation"} Basement Insulation
        %li
          %a{:href => "reviews"} Reviews
        %li
          %a{:href => "gallery"} Gallery
        %li
          = link_to "Contact Us", contact_us_home_index_path
        %li
          -# %a{:href => "request-a-quote"} Request A Quote
          = render 'shared/quote'
