:css
  .clients {
    margin-right: 0px;
  }
  #clients .owl-carousel .owl-item {
    margin-right: 0px;
  }
/ Clients Carousel START
.section-block.section-xs.pt-0.pb-20
  .container
    #clients.owl-carousel.owl-theme
      .item
        %img{:alt => "Insulthane Logo", :src => "/img/footer/logos/insulthane.jpg"}/
      .item
        %img{:alt => "Enbridge Logo", :src => "/img/footer/logos/enbridge.jpg"}/
      .item
        %img{:alt => "Homestars 2017img Logo", :src => "/img/footer/logos/homestars2017.jpg"}/
      .item
        %img{:alt => "Homestars 2018 Logo", :src => "/img/footer/logos/homestars2018.jpg"}/
      .item
        %img{:alt => "Lowes Logo", :src => "/img/footer/logos/lowes.jpg"}/
      .item
        %img{:alt => "Proud Canadian Logo", :src => "/img/footer/logos/proud-canadian.jpg"}/
      .item
        %img{:alt => "Green Guard Logo", :src => "/img/footer/logos/green-guard.jpg"}/
      .item
        %img{:alt => "BBB Logo", :src => "/img/footer/logos/bbb.jpg"}/
      .item
        %img{:alt => "Foam Masters Logo", :src => "/img/footer/logos/foam-masters.jpg"}/
      .item
        %img{:alt => "3M Logo", :src => "/img/footer/logos/3m.jpg"}/
      .item
        %img{:alt => "Baeumler Logo", :src => "/img/footer/logos/baeumler.jpg"}/
/ Clients Carousel END
// :javascript
//   var Owl.Defaults = {
//     center         : true,
//     loop           : true,
//     lazyLoad       : true,
//     margin         : 0,
//     responsiveClass: true,
//     autoWidth: true,
//     }
