

%footer.footer-style-3.background-center.black-overlay-60.hidden-sm-up
  .container
    .row
      / Column 1 Start
      .col-md-3.col-sm-6.col-12.center-holder-xs.mt-15
        %img{:alt => "Best Insulation Footer White Logo", :src => "img/logos/logo-footer.svg", style:"width: 300px;"}/
        .mt-20
          %p
            Best Insulation offers free consultations to help clients decide which insulation product is the best solution. We are capable of servicing the smallest local contracts to the largest residential jobs throughout the Greater Toronto Area. Best Insulation is a family run company that prides itself on high knowledge on its products and craftsmanship. A owner is always on site during installation and we are available to you 24/7.
          %a.small-text.white-color{:href => "#"} More About us

      / Column 3 Start
      .col-md-3.col-sm-6.col-12.center-holder-xs.mt-30
        .short
          -# .heading
          -#   %h3
          -#     %a{:href => "/"}
          -#       HomeStars Review
          %a{:href => "https://homestars.com/companies/2912899-best-insulation", :target => "_blank"}
            %img{:alt => "HomeStars Reviews Custom Logo", :src => "img/footer/homestars_icon_new.png", :style => "width:200px;"}/
          .testmonial-box.mt-10
            .row
              .col-md-12.col-sm-12
                .row
                  .col-md-6.col-sm-6.col-6
                    %h6{:style => "font-size:13px; line-height: 1.4;"}
                      Michelle Toronto ON
                  .col-md-6.col-sm-6.col-6
                    .testmonial-box-rating.right-holder
                      %h6{:style => "font-size:13px;"}
                        Best Insulation
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                  %p.pr-15.pl-15
                    "I had my whole house insulated by Best Insulation in addition to dry wall, plaster and paint. They take care of everythin..."
                  %a.pr-15.pl-15{:href => "reviews"}
                    View All Reviews

      / Column 3 End
      / Column 3 Start
      .col-md-2.col-sm-6.col-12.center-holder-xs.mt-60
        .short
          .heading
            %h3
              Contact Us
          .body
            %h3.mb-0{:style => "font-weight: 900; letter-spacing: 2px; margin-top: 0px"}
              ALI MOGHEI
            %ul.footer-style-3-contact-info
              %li
                %i.fa.fa-phone
                %span
                  %a{:href => "tel:1-647-829-9797"}
                    +1 (647) 829-9797
              %li
                %i.fa.fa-envelope-open
                %span
                  %a{:href => "mailto:ali@bestinsulation.ca?Subject=Website-%20Services%20Inquiry", :target => "_top"}
                    ali@bestinsulation.ca
              %li
                %i.fa.fa-globe
                %span
                  %a{:href => "http://www.bestinsulation.ca/"}
                    www.bestinsulation.ca

            %h3.mb-0{:style => "font-weight: 900; letter-spacing: 2px; margin-top: 20px"}
              MO SHAHRI
            %ul.footer-style-3-contact-info
              %li
                %i.fa.fa-phone
                %span
                  %a{:href => "tel:1-416-319-1212"}
                    +1 (416) 319-1212
              %li
                %i.fa.fa-envelope-open
                %span
                  %a{:href => "mailto:mo@chicasadesign.com?Subject=Website-%20Services%20Inquiry", :target => "_top"}
                    mo@bestinsulation.ca
              %li
                %i.fa.fa-globe
                %span
                  %a{:href => "http://www.bestinsulation.ca/"}
                    www.bestinsulation.ca
            %ul.footer-style-3-contact-info{:style => "margin-top: 10px"}
              %li
                %i.fa.fa-map-marker-alt
                %span{:style => "padding-left: 4px"}
                  %a{:href => "https://goo.gl/maps/xZDzag2pVuQ2", target:"_blank"}
                    9040 Leslie St #201
                    .addy.clearfix{:style => "padding-left: 23px"}
                      Richmond Hill, ON
                    .clearfix.mb-0.pb-0{:style => "padding-left: 23px"}
                      L4B 3L8 Canada

      / Column 3 End
  .footer-style-3-bar.mt-30
    .container
      .row
        .col-md-3.col-sm-6.col-12.mt-10.center-holder-xs
          %h5.btm-footer
            © 2018 Best Insulation. All Rights Reserved.
        .col-md-3.col-sm-6.col-12.right-holder.center-holder-xs.offset-md-1
          %ul.footer-style-3-social-links
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-pinterest
            %li
              %a{:href => "#"}
                %i.fab.fa-instagram
            %li
              %a{:href => "#"}
                %i.fab.fa-google-plus-g

        .col-md-3.col-sm-6.col-12.mt-10.right-holder.center-holder-xs.mb-50
          %h5.btm-footer
            Created with love
            %a{:href => "/"}
              %span{style:"margin-top"}
                %img.img-fluid{:alt => "Designed and developed by Arif Alim", :src => "img/footer/logos/arif_icon.png", style:"width: 30px; margin-top: -18px; margin-left:10px"}/
