/ Services Block START
.section-block.pb-60.pt-60
  .container
    .col-md-8.col-sm-12.col-12.offset-md-2
      .section-heading.center-holder
        %small
          We thrive on customer satisfaction!
        %h2.bold
          Painting Services
          %span.insulation-color GTA
        -# .section-heading-line
        %p
          Bottega is a customer-centric and quality driven company
    .row.mt-30
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/painting/interior/item_4.jpg"}/
          .services-text
            %h3
              Interior Painting
            %p
              Painting Contractors will do well to hire skilled tradespeople but today’s customer expects way more than a good paint job. A paint job is expected to look good but it’s the total customer experience that leaves a lasting impression.
            .blog-grid-2-button.left-holder
              %a{href: interior_painting_index_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/painting/exterior/item_2.jpg"}/
          .services-text
            %h3
              Exterior Painting
            %p
              If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home. Our spray foam technique will seal every...
            .blog-grid-2-button.left-holder
              %a{href: exterior_painting_index_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-4.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "", :src => "/img/services/painting/staining/item_1.jpg"}/
          .services-text
            %h3
              Staining
            %p.center
              At Bottega Construction, we provide customers with exterior paint solutions that have their property looking brand new again. Let's us help you get the best stain for your deck
            .blog-grid-2-button.left-holder
              %a{href: staining_painting_index_path}
                Continue Reading
                %i.fas.fa-chevron-right

/ Service Section
