/ Team Section START
.section.section-sm.pt-30.pb-30
  .container
    .col-md-10.col-sm-12.col-12.offset-md-1
      .section-heading.center-holder
        %h2.bold
          Proudly Serving
          %span.primary-color
            The Greater Toronto Area
          -# .section-heading-line
        %p
          Our expert team never rests on our accomplishments. We didn’t get to where we are by being one of the crowd. Our team believes in innovation, and an expertly insulated home can drastically reduce your monthly energy bills and consumption, but also add the value of your home investment. Why wait? give us a call!
        .mt-20.mb-40
          %a.dark-button.button-sm{:href => "#"} Call Us +1(647) 829-9797
          %button.dark-button.button-sm{"data-izimodal-open" => "#modal5"}
            Request A Quote
          %a.dark-button.button-sm{:href => "#"} Contact Us
  .div.mt-30
    .container
      .mapheading
        .container
          %h4.mt-30
            Best Insulation
            %br
            %span.primary-color
              is prouldy serving the cities in the Greater Toronto Area
          %p.mt-20
            We service all of GTA and some cities outside of the GTA, if you don't see your city below please give us a call.
          %br
          %p
            • Toronto
            %span{style:"padding-left: 10px"}
              • Mississauga
            %span{style:"padding-left: 10px"}
              • Burlington
          %p{style: "padding-top:8px"}
            • Oakville
            %span{style:"padding-left: 10px"}
              • Markham
            %span{style:"padding-left: 10px"}
              • Richmond Hill
          %p{style: "padding-top:8px"}
            • Vaughan
            %span{style:"padding-left: 10px"}
              • Aurora
            %span{style:"padding-left: 10px"}
              • Ajax
            %span{style:"padding-left: 10px"}
              • Pickering
          %p{style: "padding-top:8px"}
            • Whitby
            %span{style:"padding-left: 12px"}
              • Newmarket
            %span{style:"padding-left: 12px"}
              • Stouffville
          %p{style: "padding-top:8px"}
            • Uxbridge
            %span{style:"padding-left: 12px"}
              • Halton Hills
            %span{style:"padding-left: 12px"}
              • Georgina
          %p{style: "padding-top:8px"}
            • King City
            %span{style:"padding-left: 12px"}
              • East York
            %span{style:"padding-left: 12px"}
              • Georgetown
          %p{style: "padding-top:8px"}
            • Scarborough
            %span{style:"padding-left: 12px"}
              • Caledon
            %span{style:"padding-left: 12px"}
              • Milton
          %p{style: "padding-top:8px"}
            • Oak Ridges
            %span{style:"padding-left: 12px"}
              • Forest Hill
            %span{style:"padding-left: 12px"}
              • Rosedale
          .mt-20
            .call
              %a.primary-button.button-sm{:href => "#", style:"width:100%"} Call Us +1(647) 829-9797


  #map.map-2
    %iframe{:height => "600px", :src => "https://snazzymaps.com/embed/90536", :style => "border:none;", :width => "100%"}
