/ Services Block START
.section-block.pb-60.pt-60
  .container
    .col-md-8.col-sm-12.col-12.offset-md-2
      .section-heading.center-holder
        %small
          We thrive on customer satisfaction!
        %h2.bold
          Quality-Driven Construction
          %span.insulation-color Services
        -# .section-heading-line
        -# %p
        -#   A professional installation by Bottega Construction expert team provides superior energy-efficiency, better sealing and air tightness, and even structural strength throughout the installation area.
    .row.mt-30
      -# insulation services
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Bottega Construction Insulation Services", :src => "/img/services/insulation.jpg"}/
          .services-text
            %h3
              Insulation Services
            %p.center
              We provide Spray Insulation, Ceiling Insulation, Wall Insulation, and Basement Insulation services. 
            .services-2-button.left-holder
              %a{href: insulation_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      -# drywall services
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Bottega Construction Drywall", :src => "/img/services/drywall/installation/item_1.jpg"}/
          .services-text
            %h3
              Drywall Services
            %p
              Quality installation of drywall, soundproofing, taping is important for the integrity of the walls in your home.
            .blog-grid-2-button.left-holder
              %a{href: drywall_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      -# mudding services
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Bottega Construction Mudding", :src => "/img/services/mudding.jpg"}/
          .services-text
            %h3
              Mudding Services
            %p.center
              Years of experience in mudding and painting, our team knows that without proper mudding, painting is pretty much useless.
            .blog-grid-2-button.left-holder
              %a{href: mudding_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      -# painting services
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Bottega Construction Painting", :src => "/img/services/painting.jpg"}/
          .services-text
            %h3
              Painting Services
            %p
              Quality paint and paint services will bring out the true potential of your house and impress your family and friends.
            .blog-grid-2-button.left-holder
              %a{href: painting_services_path}
                Continue Reading
                %i.fas.fa-chevron-right

/ Service Section
