/ Services Block START
.section-block.pb-60.pt-60
  .container
    .col-md-10.col-sm-12.col-12.offset-md-1
      .section-heading.center-holder
        %h2.bold.mb-0
          Spray Foam Services in the
          %span.italic.libre-baskerville.primary-color Greater Toronto Area
        -# .section-heading-line
        %p
          A professional installation by our expert team provides superior energy-efficiency; better sealing and air tightness; far higher R-Value per installed inch; and even structural strength throughout the installation area.
    .row.mt-30
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Best Insulation Spray Foam Insulation Services", :src => "/img/home/sprayfoam-insulation.jpg"}/
          .blog-grid-text
            %h3
              Spray Foam Insulation
            %p.center
              Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet...
            .blog-grid-2-button.left-holder
              %a{href: spray_foam_insulation_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Best Insulation Ceiling and Attic Insulation", :src => "/img/home/ceiling-insulation.jpg"}/
          .blog-grid-text
            %h3
              Ceiling Insulation
            %p.center
              Ceiling and attic is most vulnerable to the fluctuating temperatures. If your ceiling and attic is not properly insulated it can lead to heavy loss of energy and changes in temperature in your house...
            .blog-grid-2-button.left-holder
              %a{href: ceiling_and_attic_insulation_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Best Insulation Wall Insulation", :src => "/img/home/wall-insulation.jpg"}/
          .blog-grid-text
            %h3
              Wall Insulation
            %p.center
              If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home. Our spray foam technique will seal every...
            .blog-grid-2-button.left-holder
              %a{href: walls_insulation_services_path}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "Best Insulation Basement Insulation", :src => "/img/home/basement-insulation.jpg"}/
          .blog-grid-text
            %h3
              Basement Insulation
            %p.center
              Best Insulation team will completely seal your basement so that nothing will ever get in our out again. Your furnace will no longer work overtime, and your a/c unit will suddenly come alive again because...
            .blog-grid-2-button.left-holder
              %a{href: basement_insulation_services_path}
                Continue Reading
                %i.fas.fa-chevron-right

/ Service Section
