/ Top-Bar START
#top-bar.hidden-md-down
  .container
    .row
      .col-md-9.col-12
        %ul.top-bar-info
          %li
            %i.fas.fa-map-marker-alt>
            New York, NY Sheram 113
          %li
            %i.fas.fa-phone-square
            Phone:  +1-23-456789
          %li
            %i.fa.fa-envelope>
            Email:  example@email.com
      .col-md-3.col-12
        %ul.social-icons.hidden-sm
          %li
            %a{:href => "#"}
              %i.fab.fa-facebook
          %li
            %a{:href => "#"}
              %i.fab.fa-twitter
          %li
            %a{:href => "#"}
              %i.fab.fa-linkedin
          %li
            %a{:href => "#"}
              %i.fab.fa-pinterest
/ Top-Bar END
