:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
  .primary-list li {
    margin-top: 8px;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/ceiling/banner.jpg');"}
  .container
    %h1 Ceiling & Attic Insulation
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Ceiling & Attic
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            Most of the energy in your home is lost by because of air filtration through doors, windows the roof and walls. The best and most energy efficient way to prevent its loss is to have a properly insulated house.
    .center-holder
      = render 'shared/quote'

/ Info Section START
.section-block.pt-20
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-4.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "img", :src => "img/services/ceiling/spray-foam-ceiling.jpg"}/
          .col-md-8.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading
                Quality Insulation at Low Prices
              %h4.bold
                Ceiling & Attic Insulation

            .text-content-small
              %p
                Properties which have been insulated with the spray foam insulation offer 50% more efficient insulation and energy conservation, compared to old school insulation methods.
              %p
                Your ceiling and attic is most vulnerable to the fluctuating temperature changes. If you ceiling and attic is not properly insulated it can lead to massive amounts of energy loss and the fluctuation of the temperature within your home. Best Insulation spray foam insulation serves as the best possible defense to completely seal your home and prevent the effect of the external temperatures on your homes interior environment, monthly energy bills and energy loss.
