
/ Page Title START
.page-title.jarallax.black-overlay-20{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('http://via.placeholder.com/1500x500);"}
  .container
    %h1 Contact Us
/ Form Section START
.section-block-grey.mb-30.pt-60
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %h3.bold.mb-0
            Get in touch with
            %span.primary-color
              Us
          %p
            The team at Best Insulation is ready to take on any project. No project is too small or too big for us!


      .col-md-3.col-sm-12.col-12.mt-30
        .contact-box-place-office
          %i.icon-building
          %h4 London Office
          %h6 Str. Sheram USA / 113
          %p There are many variations of passages of Lorem load Ipsum available.
          %ul
            %li
              %i.fas.fa-envelope-open>
              specthemes@mail.com
            %li
              %i.fas.fa-phone>
              (+987) 987-654-321
            %li
              %i.fas.fa-fax>
              (+987) 123-456
      .col-md-3.col-sm-12.col-12.mt-30
        .contact-box-place-office
          %i.icon-building
          %h4 London Office
          %h6 Str. Sheram USA / 113
          %p There are many variations of passages of Lorem load Ipsum available.
          %ul
            %li
              %i.fas.fa-envelope-open>
              specthemes@mail.com
            %li
              %i.fas.fa-phone>
              (+987) 987-654-321
            %li
              %i.fas.fa-fax>
              (+987) 123-456
      .col-md-6.col-sm-12.col-12
        / Form Start
        %form.white-form.mt-30
          .row
            .col-md-6.col-sm-6.col-12
              %input{:name => "name", :placeholder => "Name *", :type => "text"}/
            .col-md-6.col-sm-6.col-12
              %input{:name => "email", :placeholder => "E-mail *", :type => "email"}/
            .col-md-12.col-sm-12.col-12
              %input{:name => "email", :placeholder => "Subject", :type => "email"}/
            .col-md-12
              %textarea{:name => "message", :placeholder => "Message *"}
            .col-md-12
              %button.button-sm.primary-button.semi-rounded.full-width{:type => "submit"} Send Message
        / Form End

/ Form Section END
