
/ Page Title START
.page-title.jarallax.black-overlay-50{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('img/gallery/banner/banner-3.jpg');"}
  .container
    %h1 Best Insulation Gallery
    %ul
      %li
        %a{:href => "/"} Home
      %li
        Gallery
/ Page Title END
/ Gallery Masonry Section START
.section-block.pb-50.pt-60
  .container
    .masonry-3col.gallery-style-1
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-1.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-1.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-2.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-2.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-3.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-3.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-4.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-4.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-5.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-5.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-6.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-6.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-7.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-7.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-8.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-8.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "img/gallery/screen/gallery-9.jpg"}
          %img{:alt => "img", :src => "img/gallery/thumb/gallery-9.jpg", :title => "image"}/
          .gallery-overlay
/ Gallery Masonry Section END
