/ Video Section START
.main-video-section
  #video-area.video-area.video-image
    -# #main-video-play.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=Php6zdOJrGE', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true}"}
    #main-video-play.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=pbIIgciSzMQ', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:8, opacity:1, quality:'high'}"}
    .black-overlay-40
      .main-video-content
        .container
          .white-color
            %h7
              Welcome to
            %h3.bold
              BEST INSULATION
            %h5.bold
              .primary-color
                GTA's leader in spray foam insulation
            .hidden-sm-down
              %p
                Best Insulation is the
                %span{style:"font-size:20px; font-weight:900"}
                  1
                %span{style:"vertical-align: super; font-size:12px; margin-left:-5px; padding-right:2px"}
                  st
                choice for spray foam insulation by home builders and renovators
            .mt-25.hidden-sm-down
              %a.primary-button-bordered.button-sm{:href => "#", style:"color:white"} Contact Us
/ Video Section END
= render 'shared/about'

/ Parallax Section START
.section-block-parallax.jarallax.black-overlay-30.section-sm{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('img/home/parallax.jpg');"}
  .container
    .col-md-8.col-sm-12.col-12.offset-md-2
      .large-heading.center-holder
        %h2.white-color
          Best Insulation
        %h5.primary-color
          GTA's #1 choice for Spray Foam Insulation
        %h7.white-color
          Best Insulation is a Richmond Hill based Insulation company. We serve clients all over the Greater Toronto Area. Focusing on three main principles. Achieving Energy Reductions, creating a comfortable indoor environment and providing the highest level of Customer service.
    .mt-25.center-holder
      %a.white-button.button-sm{:href => "#"}
        Customer Promise
/ Parallax Section END
-# Services
= render 'shared/services'
