:css
  .blog-grid-text h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .blog-grid-text p {
    font-size: 13.5px;
    color: #888;
    font-weight: 600;
  }
  .video-image {
    background-image: url('/img/home/video-background.jpg');
    object-fit: cover;
  }
/ Video Section START
.main-video-section
  #video-area.video-area.video-image
    -# #main-video-play.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=Php6zdOJrGE', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true}"}
    #main-video-play.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=pbIIgciSzMQ', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:8, opacity:1, quality:'high'}"}
    .black-overlay-40
      .main-video-content
        .container
          .white-color
            %h7
              Welcome to
            %h3.bold
              BEST INSULATION
            %h5.bold
              .primary-color{style:"text-shadow: 1px 1px white;"}
                GTA's leader in spray foam insulation
            .mt-15
              %h7
                Best Insulation is the
                %span{style:"font-size:20px; font-weight:900"}
                  1
                %span{style:"vertical-align: super; font-size:12px; margin-left:-5px; padding-right:2px"}
                  st
                choice of home builders, renovators and home owners in the Greater Toronto Area!
            .mt-25
              %a.primary-button-bordered.button-sm{:href => "#", style:"color:white"} Contact Us
/ Video Section END
/ About Intro Block START
.section-block.section-sm
  .container
    .section-heading.center-holder
      %h2.bold
        Why Choose Best
        %span.primary-color
          Insulation?
      .section-heading-line
      %p
        Best Insulation is the first choice of home builders, renovators and home owners in Toronto, and the GTA. Our fully certified staff of Installers, Sales Representatives, Customer Care Personnel, Field Superintendents, Estimating and Technical Support have been carefully vetted and handpicked for their experience, knowledge of Toronto and GTA homes and their professionalism. Our goal is to provide you with the very best service possible, with as little disruption to your daily routine as possible.
/ About Intro Block END
.section-block.section-sm{style:"padding-top: 0px"}
  .container
    .row
      .col-md-5.col-sm-12.col-12
        .section-heading.left-holder.wow.fadeIn.animated{"data-wow-delay" => ".1s", :style => "visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;"}
          %h3.bold{style: "font-size:30px"}
            Keep your home
            %span.blue-color
              Cool
            this summer and
            %span.red-color
              Warm
            in the winter.
        .text-content.wow.fadeIn.animated.mt-20{"data-wow-delay" => ".15s", :style => "visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"}
          -# %p
          -#   Our expert team never rests on our accomplishments. We didn’t get to where we are by being one of the crowd. Our team believes in innovation, and an expertly insulated home can drastically reduce your monthly energy bills and consumption, but also add the value of your home investment, and is also an excellent ethical choice that is great for the environment.
          %p
            We are always innovating and searching for the latest technology, materials and methods so that we can offer you the most advanced insulation methods possible, but we go While our team of professionals is working in the field, our office staff is constantly updating the many ways in which you can receive rebates, and incentives to insulate your home. We will guide you every step of the way and educate you on how to apply and receive rebates for making your home cleaner, more efficient and environmentally friendly.
          %p
            We’re always ready to answer your questions, so please feel free to contact us or call to speak with one of our team members.
        .mt-30.wow.fadeIn.animated{"data-wow-delay" => ".2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"}
          %a.button-sm.primary-button{:href => "#"}
            Contact Us
          %span
            %a.button-sm.primary-button{:href => "#"} Call Us +1(647) 829-9797
      .col-md-7.col-sm-12.col-12
        .row.pl-30-md
          .col-md-6.col-sm-6.col-12.wow.fadeIn.animated{"data-wow-delay" => ".15s", "data-wow-duration" => "1.5s", :style => "visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeIn;"}
            .service-overlay
              %img{:alt => "img", :src => "img/home/mission.jpg"}/
              .service-overlay-box.center-holder
                %h4
                  %b
                    Our Mission
                %p
                  Our aim is to continuously exceed the expectations of our client to deliver quality installations
                %a{:href => "#"}
                  Learn More
          .col-md-6.col-sm-6.col-12.wow.fadeIn.animated{"data-wow-delay" => ".1s", "data-wow-duration" => "1.5s", :style => "visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;"}
            .service-overlay
              %img{:alt => "img", :src => "img/home/vision.jpg"}/
              .service-overlay-box.center-holder
                %h4
                  %b
                    Our Vision
                %p
                  We want our clients to stay cool in the summer and warm in the winter while saving energy
                %a{:href => "#"}
                  Learn More

/ Parallax Section START
.section-block-parallax.jarallax.black-overlay-30.section-sm{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('img/home/parallax.jpg');"}
  .container
    .large-heading.center-holder
      %h2.white-color
        Best Insulation
      %h5.primary-color
        GTA's #1 choice for Spray Foam Insulation
      .col-md-8.col-12.offset-md-2
        %h7.white-color
          Best Insulation is a Richmond Hill based Insulation company. We serve clients all over the Greater Toronto Area. Focusing on three main principles. Achieving Energy Reductions, creating a comfortable indoor environment and providing the highest level of Customer service.
    .mt-25.center-holder
      %a.white-button.button-md{:href => "#"}
        Customer Promise
/ Parallax Section END
/ Services Block START
.section-block.pb-60.pt-60
  .container
    .section-heading.center-holder
      %h2.bold
        Innovative solutions to
        %span.italic.libre-baskerville.primary-color move your business forward
      .section-heading-line
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    .row.mt-30
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "img", :src => "img/home/sprayfoam-insulation.jpg"}/
          .blog-grid-text
            %h3
              Spray Foam Insulation
            %p.center
              Spray insulation is the very best energy saving insulation solution, period. Any other insulation is the equivalent of having a an expensive itchy blanket on a cold night, and it doesn’t cover your feet...
            .blog-grid-2-button.left-holder
              %a{:href => "#"}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "img", :src => "img/home/ceiling-insulation.jpg"}/
          .blog-grid-text
            %h3
              Ceiling Insulation
            %p.center
              Ceiling and attic is most vulnerable to the fluctuating temperatures. If your ceiling and attic is not properly insulated it can lead to heavy loss of energy and changes in temperature in your house...
            .blog-grid-2-button.left-holder
              %a{:href => "#"}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "img", :src => "img/home/wall-insulation.jpg"}/
          .blog-grid-text
            %h3
              Wall Insulation
            %p.center
              If your home currently has old school style insulation, there are undoubtedly many areas of leaks, and even possible vermin due to voids within the walls of your home. Our spray foam technique will seal every...
            .blog-grid-2-button.left-holder
              %a{:href => "#"}
                Continue Reading
                %i.fas.fa-chevron-right
      .col-md-3.col-sm-4.col-12
        .blog-grid-2
          .blog-grid-img
            %img{:alt => "img", :src => "img/home/basement-insulation.jpg"}/
          .blog-grid-text
            %h3
              Basement Insulation
            %p.center
              Best Insulation team will completely seal your basement so that nothing will ever get in our out again. Your furnace will no longer work overtime, and your a/c unit will suddenly come alive again because...
            .blog-grid-2-button.left-holder
              %a{:href => "#"}
                Continue Reading
                %i.fas.fa-chevron-right

/ Service Section
