:css
  .page-title ul li a {
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .page-title ul li a:hover {
    color: #333;
  }
/ Page Title START
.page-title.jarallax.black-overlay-0{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('img/reviews/homestars_banner_new.jpg');"}
  .container
    %h1 Read Our Reviews
    %ul
      %li
        %a{:href => "https://homestars.com/companies/2912899-best-insulation", :target => "_blank"} Best Insulation Reviews on Homestars
/ Page Title END
/ Gallery Masonry Section START
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %iframe.reviews{:frameborder => "0", :height => "496", :scrolling => "yes", :src => "https://homestars.com/widgets/reviews/best-insulation/large", :width => "500px", style:"background-color:white"}
