
/ Page Title START
.page-title.jarallax.black-overlay-20{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('http://via.placeholder.com/1500x500');"}
  .container
    %h1 About us modern style
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#!"} About Us
      %li
        Who Are We?
/ Page Title END
/ Info Section START
.section-block
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .row
          .col-md-6.col-sm-6.col-12
            %img.shadow-light.rounded-border{:alt => "img", :src => "http://via.placeholder.com/450x450"}/
            .section-heading.left-holder.mt-30
              %h4.bold Making business work worldwide. The power of productivity.
              .section-heading-line
            .text-content-big
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
          .col-md-6.col-sm-6.col-12
            .section-heading.left-holder
              %h4.bold Helping you open windows of opportunity worldwide.
              .section-heading-line
            .text-content-big
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            %img.shadow-light.rounded-border.mt-20{:alt => "img", :src => "http://via.placeholder.com/450x450"}/
/ Info Section END
/ Features Section START
.section-block-parallax.jarallax{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('http://via.placeholder.com/1500x400');"}
  .container
    .row
      .col-md-3.col-sm-6.col-12
        .feature-block-3.center-holder
          %i.icon-startup2
          %h4 Digital Solutions
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      .col-md-3.col-sm-6.col-12
        .feature-block-3.center-holder
          %i.icon-light-bulb
          %h4 SEO Marketing
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      .col-md-3.col-sm-6.col-12
        .feature-block-3.center-holder
          %i.icon-humanpictos
          %h4 Creative Strategy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      .col-md-3.col-sm-6.col-12
        .feature-block-3.center-holder
          %i.icon-target
          %h4 Investment Advisor
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
/ Features Section END
/ Progress Bars Section START
.section-block
  .container
    .row
      .col-md-6.col-sm-6.col-12
        .section-heading.left-holder.mt-20
          %h3.bold Effective corporate performance.
          .section-heading-line
        .text-content
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
        .mt-15
          %a.primary-button.button-sm{:href => "#"} Learn More
      .col-md-5.col-sm-6.col-12.offset-md-1.mt-10
        / Progress Bar Start
        .progress-bar-title.clearfix
          %h5 Budget Analyst
          %h6 25%
        .progress.progress-bar-sm
          .progress-bar.progress-bar-primary.slideInLeft.wow.animated{:style => "width:25%"}
        / Progress Bar End
        / Progress Bar Start
        .progress-bar-title.clearfix
          %h5 Digital Marketing
          %h6 50%
        .progress.progress-bar-sm
          .progress-bar.progress-bar-primary.slideInLeft.wow.animated{:style => "width:50%"}
        / Progress Bar End
        / Progress Bar Start
        .progress-bar-title.clearfix
          %h5 Social Media Managment
          %h6 75%
        .progress.progress-bar-sm
          .progress-bar.progress-bar-primary.slideInLeft.wow.animated{:style => "width:75%"}
        / Progress Bar End
        / Progress Bar Start
        .progress-bar-title.clearfix
          %h5 Excellent Timing
          %h6 90%
        .progress.progress-bar-sm
          .progress-bar.progress-bar-primary.slideInLeft.wow.animated{:style => "width:90%"}
        / Progress Bar End
/ Progress Bars Section END
/ Team Section START
.section-block-grey
  .container
    .section-heading.center-holder
      %h2.bold Our team. Your advantage
      .section-heading-line
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        = succeed "ut" do
          %br/
    .row.mt-50
      .col-md-4.col-sm-4.col-12
        .team-box
          .team-box-img
            %img{:alt => "img", :src => "http://via.placeholder.com/338x372"}/
          %h4
            %a{:href => "#"} Thomas Cooper
          %span HR Specialist
          %p.italic.libre-baskerville Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          %ul.team-box-social
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-skype
            %li
              %a{:href => "#"}
                %i.fab.fa-google
      .col-md-4.col-sm-4.col-12
        .team-box
          .team-box-img
            %img{:alt => "img", :src => "http://via.placeholder.com/338x372"}/
          %h4
            %a{:href => "#"} Sofia Harris
          %span Benefits Officer
          %p.italic.libre-baskerville Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          %ul.team-box-social
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-skype
            %li
              %a{:href => "#"}
                %i.fab.fa-google
      .col-md-4.col-sm-4.col-12
        .team-box
          .team-box-img
            %img{:alt => "img", :src => "http://via.placeholder.com/338x372"}/
          %h4
            %a{:href => "#"} Jameson Castillo
          %span Insurance Agent
          %p.italic.libre-baskerville Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          %ul.team-box-social
            %li
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li
              %a{:href => "#"}
                %i.fab.fa-skype
            %li
              %a{:href => "#"}
                %i.fab.fa-google
/ Team Section END
/ Countups section START
.section-block-parallax.jarallax.black-overlay-80{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('http://via.placeholder.com/1500xx360');"}
  .container
    .row
      .col-md-3.col-sm-6.col-12
        .countup-block
          %i.icon-team3
          %h4.countup 1500
          %span +
          %h5 Satisfied Clients
      .col-md-3.col-sm-6.col-12
        .countup-block
          %i.icon-compass
          %h4.countup 2300
          %span +
          %h5 Projects Completed
      .col-md-3.col-sm-6.col-12
        .countup-block
          %i.icon-target3
          %h4.countup 3700
          %span +
          %h5 Business Solutions
      .col-md-3.col-sm-6.col-12
        .countup-block
          %i.icon-trophy3
          %h4.countup 600
          %span +
          %h5 Awards won
/ Countups section END
/ Accordions Section START
.section-block
  .container
    .row
      / Accordions Column Start
      .col-md-7.col-sm-6.col-12
        .section-heading.left-holder
          %h4.bold Get answers from Professionals !
          .section-heading-line
        / Accordions Start
        #accordion.mt-15{:role => "tablist"}
          / Accordion Start
          .card.card-primary
            #headingOne.card-header.card-header-primary{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseOne"}
                  01. Where can I get access to Capital IQ ?
            #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion", :role => "tabpanel"}
              .card-body.card-body-primary
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          / Accordion End
          / Accordion Start
          .card.card-primary
            #headingTwo.card-header.card-header-primary{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseTwo"}
                  02. Where can I get information on companies ?
            #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion", :role => "tabpanel"}
              .card-body.card-body-primary
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          / Accordion End
          / Accordion Start
          .card.card-primary
            #headingThree.card-header.card-header-primary{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseThree"}
                  03. How can I find information on digital technology ?
            #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion", :role => "tabpanel"}
              .card-body.card-body-primary
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          / Accordion End
          / Accordion Start
          .card.card-primary
            #headingFour.card-header.card-header-primary{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseFour"}
                  04. How do I find information on mutual funds ?
            #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#accordion", :role => "tabpanel"}
              .card-body.card-body-primary
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          / Accordion End
          / Accordion Start
          .card.card-primary
            #headingFive.card-header.card-header-primary{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseFive"}
                  05. Where can I find market research reports ?
            #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordion", :role => "tabpanel"}
              .card-body.card-body-primary
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          / Accordion End
        / Accordions End
      / Accordions Column End
      / Contact Form Column Start
      .col-md-5.col-sm-6.col-12
        .pl-45-md
          .section-heading.left-holder
            %h4.bold Let's talk about your Business.
            .section-heading-line
          .contact-form-md.white-background.no-padding.pl-30-md
            / Form Start
            %form{:action => "#", :method => "get"}
              %input{:name => "name", :placeholder => "Your Name", :type => "text"}/
              %input{:name => "email", :placeholder => "Your Email", :type => "email"}/
              %input{:name => "subject", :placeholder => "Subject", :type => "text"}/
              %textarea{:name => "message", :placeholder => "Your Message"}
              %button.primary-button.button-sm.full-width{:type => "submit"} Send Message
            / Form End
      / Contact Form Column End
/ Accordions Section END
/ Clients Carousel START
.section-block-grey.section-sm
  .container
    #clients.owl-carousel.owl-theme.clients
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
      .item
        %img{:alt => "img", :src => "http://via.placeholder.com/125x35"}/
/ Clients Carousel END
