:css
  .subheading {
    font-size: 14px;
    color: #E8CF49;
    font-weight: 800;
    text-transform: uppercase;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Who are we?
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#!"} About Us
      %li
        Who Are We?
/ Page Title END
.section-block.pt-50.pb-30
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Quality Insulation from
            %span.primary-color
              Experienced
            Team
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            Best Insulation offers free consultations to help clients decide which insulation product is the best solution. We are capable of servicing the smallest local contracts to the largest residential jobs throughout the Greater Toronto Area. Best Insulation is a family run company that prides itself on high knowledge and craftsmanship. A owner is always on site during installation and available to you 24/7.
    .center-holder.mt-10
      %a.button-sm.primary-button{:href => "#"} Customer Promise

/ Info Section START
.section-block.pt-0
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .row
          .col-md-6.col-sm-6.col-12.pt-30
            %img.rounded-border{:alt => "img", :src => "img/about/team.jpg"}/
            .section-heading.left-holder.mt-30
              .subheading
                Qualified & Experienced?
              %h4.bold
                The Dream Team
            .text-content-small
              %p
                Best Insulation installers manage every job professionally. They install by the building code; they follow manufacturer specifications; and they don't take shortcuts. Install teams use personal protective gear and always safeguard residents/occupants from project start to finish.
          .col-md-6.col-sm-6.col-12.pt-30
            .section-heading.left-holder
              .subheading
                Why Choose Best Insulation?
              %h4.bold
                Experience & Quality Driven

            .text-content-small
              %p
                Spray Polyurethane Foam is a unique insulation product that requires specialized installation. Best Insulation installers are highly trained and experienced with both the product and installation. They understand the nuances of spray and the complexities of installation.
            %img.rounded-border.mt-20{:alt => "img", :src => "img/about/quality.jpg"}/
/ Info Section END
