:css
  .subheading {
    font-size: 16px;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
  }
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 About us modern style
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#!"} About Us
      %li
        Who Are We?
/ Page Title END
.section-block.pt-50.pb-0
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small We're thinking big
          %h2.bold
            Delivering results
            %span.italic.libre-baskerville that endure
            = succeed "Technology" do
              %br/
          .section-heading-line
        .text-content-big.center-holder.mt-25
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .center-holder.mt-10
      %a.button-md.primary-button{:href => "#"} More About Us

/ Info Section START
.section-block
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .row
          .col-md-6.col-sm-6.col-12
            %img.shadow-light.rounded-border{:alt => "img", :src => "img/about/team.jpg"}/
            .section-heading.left-holder.mt-30
              %h4.bold The Dream Team is Qualified and Specialize in Spray Foam Insulation
              .section-heading-line
            .text-content-small
              %p
                Spray Polyurethane Foam is a unique insulation product that requires specialized installation. Best Insulation installers are highly trained and experienced with both the product and installation. They understand the nuances of spray and the complexities of installation.
          .col-md-6.col-sm-6.col-12
            .section-heading.left-holder
              .subheading
                Why Choose Best Insulation?
              %h4.bold
                Profesionalism and Quality Work with Competitive Pricing
              .section-heading-line
            .text-content-small
              %p
                Best Insulation installers manage every job professionally. They install by the building code; they follow manufacturer specifications; and they don't take shortcuts. Install teams use personal protective gear and always safeguard residents/occupants from project start to finish.
            %img.shadow-light.rounded-border.mt-20{:alt => "img", :src => "img/about/quality.jpg"}/
/ Info Section END
