%p
  = image_tag("http://web-ebt.herokuapp.com/assets/img/logo/logo.png", alt: "logo", style: "width: 368px;")
%h2
  %strong Callback Request from Best Insulation Website
%h3
  %b Name
%p{:style => "font-size:14px"}= @callback.name
%h3
  %b Phone Number
%p{:style => "font-size:14px"}= @callback.number
%h3
  %b Email
%p{:style => "font-size:14px"}= @callback.email
