= image_tag("http://web-bi.herokuapp.com/img/email/black_logo_transparent.png", alt: "Best Inuslation Logo", style: "width: 483px")
%h2{style: "color: #000000"}
  %strong
    Callback Request from Best Insulation Website
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Name:
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    %strong= @callback.name
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Email Address:
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    %strong= @callback.number
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Phone Number:
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    %strong= @callback.email
