/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/painting/staining/staining_bg.jpg');"}
  .container
    %h1 Staining 
    %ul
      %li
        = link_to "Home", root_path
      %li
        Staining Services
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Staining
            %span.insulation-color
              Services
          %p
            Bottega is a customer-centric and quality driven company
/ Spray Foam Services START
.section-block.pt-30.pb-10
  .container
    .row
      .col-md-6.col-sm-6.col-12
        / Product Images & Alternates
        .product-images
          / Begin Product Images Slider
          .main-img-slider
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/painting/staining/item_1.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/painting/staining/item_2.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/painting/staining/item_3.jpg"}/
            %figure
              %a{"data-size" => "1400x1400", :href => "#"}
                %img{:alt => "", :src => "/img/services/painting/staining/item_4.jpg"}/
          / End Product Images Slider
          / Begin product thumb nav
          %ul.thumb-nav
            %li
              %img{:alt => "product-thumb", :src => "/img/services/painting/staining/item_1.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/painting/staining/item_2.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/painting/staining/item_3.jpg"}/
            %li
              %img{:alt => "product-thumb", :src => "/img/services/painting/staining/item_4.jpg"}/
          / End product thumb nav
      .col-md-6.col-sm-6.col-12
        .product-share
          .text-content.wow.fadeIn.animated
            .col-md-12.col-sm-12.col-12
              %h5.bold.pb-10
                Staining Services
              %p
                Looking for affordable fence & deck painting, stripping, refinishing, cleaning, repair, sealing & staining contractors in the GTA?
              %p.mt-10
                At Bottega Construction, we provide customers with exterior paint solutions that have their property looking brand new again. Whether you’re looking to have your deck stained or your fence painted, we have the skills, know-how, and equipment to get the job done beautifully, on-time and on the budget!
                With so many different types of wood for decks and fences taking a beating from the harshness of the Vancouver climate, it takes the expert application to properly protect these surfaces. We understand which products work best, and by working with GTA's best carpenters and landscaping companies, we’ve learned what is needed to get the job done right the first time on projects ranging from decorative lattice and gazebos to trellises and custom fences.
              