
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/services/walls/banner.jpg');"}
  .container
    %h1 GreenOn Rebate
    %ul
      %li
        = link_to "Home", home_index_path
      %li
        Rebates
/ Page Title END
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.center-holder
          %small
            Get more savings with Bottega Construction
          %h2.bold
            GreenOn
            %span.primary-color
              Rebates
          %p
            And the benefits to homeowners are measurable- a well- insulated home can save 15% or more on heating the home in winter and cooling the home in summer.

/ Info Section START
.section-block.pt-20
  .container
    .row
      .col-md-12.col-sm-12.col-12
        .row
          .col-md-4.col-sm-6.col-12
            %img.rounded-border.mt-20{:alt => "Bottega Construction Walls Insulation", :src => "/img/rebates/greenon.jpg"}/
            .mt-20.mb-40.center-holder
              %a.dark-button.button-sm{href: contact_us_home_index_path}
                Contact us for Rebate
          .col-md-8.col-sm-6.col-12.pt-20
            .section-heading.left-holder
              .subheading
                Save Money & Energy
              %h5.bold
                Save Money with Rebates while saving Energy
              .rebates.mt-10
                Ontario homeowners can now take advantage of GreenON Rebates when making improvements to home energy efficiency. GreenON Rebates are available for insulation upgrades throughout the home - and the rebates are impressive - up to $7,200 for purchasing and installing insulation. GreenON Rebates are designed to offset the upfront cost of insulation upgrades. And the benefits to homeowners are measurable – a well-insulated home can save 15% or more on heating the home in winter and cooling the home in summer. Year after year, the savings are substantial.
              %h5.bold
                Are you eligible for the GreenON rebate?
              %p
                1: In Ontario, GreenON Rebates are available to residents who hire participating contractors to make insulation upgrades that qualify.
              %p.mt-10
                2: The upgrades can be applied to detached homes, semi-detached homes, or row-townhomes.
              %p.mt-10
                3: For Ontario residents who rent, it's required to get written permission from their landlord. With home insulation, up to $7,200 is available for the purchase and installation.
