
/ Page Title START
.page-title.jarallax.black-overlay-50{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/gallery/banner/banner-4.jpg');"}
  .container
    %h1 Best Insulation Gallery
/ Page Title END
/ Gallery Masonry Section START
.section-block.pb-50.pt-60
  .container
    .masonry-3col.gallery-style-1
      / New section
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-10.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-10.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-14.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-14.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-16.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-16.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-4.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-4.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-6.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-6.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-5.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-5.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-12.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-12.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-13.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-13.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-17.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-17.jpg", :title => "image"}/
          .gallery-overlay
      /older photos
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-1.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-1.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-2.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-2.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-3.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-3.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-11.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-11.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-15.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-15.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-18.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-18.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-8.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-8.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-9.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-9.jpg", :title => "image"}/
          .gallery-overlay
      .masonry-item.gallery-item
        %a.image-popup-gallery{:href => "/img/gallery/screen/gallery-7.jpg"}
          %img{:alt => "img", :src => "/img/gallery/thumb/gallery-7.jpg", :title => "image"}/
          .gallery-overlay

/ Gallery Masonry Section END
