/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Affiliations
    %ul
      %li
        = link_to "About Us", about_index_path
      %li
        Affiliations
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Affiliations
          %p
            We are proud to say that we are affiliated with the following companies and organizations.
    -# Affiliations
    .row.margin-30px-bottom
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/lowes.jpg);"}
          .back
            %h2 Lowes
            %p
              You'll find thousands of products covering every area of home improvement, from the top brands you know and trust
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/insulthane.jpg);"}
          .back
            %h2 Insulthane
            %p
              Our line of spray foams are the best in the business. We only use pure high grade materials to produce our insulation
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/enbridge.jpg);"}
          .back
            %h2 Enbridge
            %p
              We've been delivering natural gas safely and reliably to more than two million homes and businesses across Canada
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/bbb.jpg);"}
          .back
            %h2 BBB
            %p
              Better Business Bureau helps American and Canadian consumers find businesses and charities they can trust
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/aftec.jpg);"}
          .back
            %h2
              Aftec Inc.
            %p
              AFTEC Corporate Design & Services is a general contracting company rendering services to comercial, industrial companies
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/opem.jpg);"}
          .back
            %h2 OPEM
            %p
              On Point Energy Management is a full-service energy management firm committed to our sustainable future
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/lmc.jpg);"}
          .back
            %h2 Lieber Mechanical
            %p
              LMC is a construction company, offering quality mechanical services to commercial and high-rise buildings
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/chicasa.jpg);"}
          .back
            %h2 Chicasa Design
            %p
              You deserve a home that is custom built to accentuate your personality. We are here to build you a chic-casa
/ Affiliation boxes
