/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Additional Pages
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#!"} About Us
      %li
        Page Example
