/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Customer Promise
    %ul
      %li
        = link_to "About Us", about_index_path
      %li
        Customer Promise


.section-xs{style: "background: #fafafa"}
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder.mt-30
          %h4.bold
            Customer Promise
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            Best Insulation is one of the Greater Toronto's largest full-service insulation company. Over the past years, our 100% Canadian owned and operated company has become the leader in the Home Comfort Industry across all of GTA. We stand firmly behind the workmanship of our crews and we are 100% committed to delivering a reliable, high-quality service to all of our customers. We continue to work hard to provide our customers the quality service that they deserve.
.section-xs
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Service Commitment
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            Best Insulation is committed to achieving excellence in customer service. We will go above and beyond and work hard wherever possible to satisfy your home insulation requirements within 30 days of contacting us over the phone or email.
          %p{style: "font-size: 15px; font-weight: 600"}
            Best Inuslation only hires people with experience and deep knowledge with spray foam insulation products. We have an experienced, skilled and committed team of specialists with a well-earned reputation for integrity and fair dealing within the industry. We also dearly believe in protecting our environment, our team ensures that all insulation is disposed properly.
.section-xs{style: "background: #fafafa"}
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Service Warranty
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            If you feel like your new insulation isn't doing what it was designed for, keeping you warmer in the winter and cooler in the summer, Best Insulation will come and inspect the cause and rectify it free of charge.
.section-xs
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Product Warranty
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            All products installed by Best Insulation are warranted by their manufacturer. The glass wool, castor-oil based spray foam and cellulose is warranted to last the lifetime of your property.
.section-xs{style: "background: #fafafa"}
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Sustainability Warranty
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            Our operating procedures aim to prevent pollution or any environmental harm through carefully prepared work and management practices. We are committed to not only the environmental laws, regulations, and codes of practice but also to the moral laws of caring for and looking after our environment.
          %p{style: "font-size: 15px; font-weight: 600"}
            At Best Insulation, we ensure that every member of the team received adequate safety and confined workplace training, always carry the required protective clothing and have been educated on the value of maintaining hydrated especially in the summer and ensure that they are warm in the winter while they work. We equally value the health and safety of our workers as we do of our clients.
          .mt-25.hidden-sm-down
            %a.dark-button-bordered.button-xs{href: sustainability_about_index_path} View More on Sustainability
.section-xs
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Satisfaction Warranty
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
            Best Insulation seeks for 100% client satisfaction. If a client has any issues with the service offered or quality of work undertaken, Best Insulation will replace or repair any issue to approved government standards at our cost.
.section-xs{style: "background: #fafafa"}
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Conditions of Guarantees and Warranties
          .section-heading-line
        .text-content
          %p{style: "font-size: 15px; font-weight: 600"}
        .row
          .col-md-12.col-sm-12.col-12
            %ul.primary-list
              %li
                %i.fa.fa-check-square>
                The claim must be made within the first month of the incident
              %li
                %i.fa.fa-check-square>
                A copy of the original Best Insulation invoice must be provided
              %li
                %i.fa.fa-check-square>
                You accept that any repairs or replacements will be made at our sole discretion
              %li
                %i.fa.fa-check-square>
                In order to initiate any warranty, payment of the service must be made in full
              %li
                %i.fa.fa-check-circle>
                Client accepts additional terms and conditions outlined in our quotations
              %li
                %i.fa.fa-check-circle>
                Guarantees and warranties are non-transferable.
