:css
  .card-body.card-body-grey p {
    margin-bottom: 15px;
  }
  h5 {font-weight: 700}
/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Frequently Asked Questions
    %ul
      %li
        = link_to "About Us", about_index_path
      %li
        FAQ's
/ Info Section START
.section-block.section-sm
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %small
            We thrive on customer satisfaction!
          %h2.bold
            Frequently Asked Questions

        .text-content-small.center-holder
          %p
            Below is a list of most popular questions. If you can't find the answer to your question(s), please contact us.
        .center-holder
          %a.button-sm.grey-button{href: contact_us_home_index_path}
            Contact Us
      .col-md-10.col-sm-12.col-12.offset-md-1
        #accordion3.mt-50{:role => "tablist"}
          / Accordion Start
          .card.card-grey
            #headinggr1.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseggr1", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseggr1"}
                  What is spray foam, and why should I use it in my home?
            #collapseggr1.collapse{"aria-labelledby" => "headinggr1", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  Spray Polyurethane Foam insulation is a method of sealing and insulating that is sprayed in liquid form into wall cavities, attics, crawlspaces and other areas. It acts as both insulation and as an air barrier, preventing drafts from entering the building. The Canadian Urethane Foam Contractors Association (CUFCA) says, when properly installed, spray foam insulation is airtight, and can reduce heating and cooling costs by up to 50%.
                %p
                  Many homeowners are puzzled about which insulation to install, and particularly if spray foam is the best way to go. True, there are number of product options to choose from, but more and more professionals are recommending spray foam as the install that delivers the best results. Spray Polyurethane Foam has proven itself, time after time, to do more and perform far better than any of the comparable products that are advertised and marketed today.
                %p
                  Professionally installed, spray foam provides optimal energy efficiency by protecting a home (the building envelope) against heat loss. It means that indoor heat during wintertime will not leak out. And it means that outdoor heat during summer will not creep in. The result: heating and cooling equipment have to work less, and energy consumption is reduced from season to season. A good spray foam installation will save substantial dollars annually.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr5"}
                  What is the best type of insulation to use in a basement?
            #collapsegr5.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  We recommend spray foam, as it adheres to almost any clean, dry, surface it is sprayed to. Spray foam is recognized as an air and vapour barrier after 2-inches thick (50mm). If your studs are off the foundation wall the spray foam will expand in behind the studs making this application virtually seamless, making heating and cooling this area much more efficient.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr6"}
                  What is the best type of insulation for flat attics?
            #collapsegr6.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  Our answer is always spray foam, but blown insulation in very cost effective for flat attic areas as well and is the most common product used.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr7"}
                  Can I insulate existing walls in my older home?
            #collapsegr7.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  Depending on the wall make up, we have 2 different applications we can do to improve the insulation in the exterior walls. Every situation is unique as far as wall make up, what is in the wall, how deep is the cavity etc. We always come out and provide a free onsite estimate for this type of work.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr8"}
                  Why are the floors on my main level cold?
            #collapsegr8.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  There are a couple of reasons or situations that may cause cold floors. If there is a crawlspace or basement under this area that is lacking in insulation this may be the problem. There may be lack of insulation in the ring joist or the main floor walls as well.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr9"}
                  How do I properly insulate my crawlspace?
            #collapsegr9.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  If you have a heat source in the crawlspace we would put a 6-mil vapour barrier on the dirt or gravel floor and spray foam from the floor above, down all outside walls, sealing to the 6-mil vapour barrier.
                %p
                  If there is no heat source in the crawlspace and one cannot be added cost effectively, then spraying 5-inches or more of spray foam on the underside of the floor would be the alternative.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr10"}
                  What are some benefits of spray foam?
            #collapsegr10.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  It’s a question that is asked by homeowners, homebuilders, and contractors alike. And for Bottega Construction, the answer is usually the same for all - spray foam has proven to be the very best approach to insulation, as part of the overall “insulation system” that’s installed.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr2.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr2"}
                  How do I insulate behind drywall?
            #collapsegr2.collapse{"aria-labelledby" => "headinggr2", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  In older homes, insulating exterior walls was not a priority. Energy costs were less than they are today, and saving energy wasn’t that important. In most homes, insulating the attic and basement was enough, even with insulation that was adequate at best. Once the drywall was up, especially in the basement, there wasn’t much reason to improve or upgrade the insulation.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr3.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr3", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr3"}
                  How do I remove insulation?
            #collapsegr3.collapse{"aria-labelledby" => "headinggr3", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  When it comes to insulation removal, the first thing to ask is whether it’s necessary. For the team at Bottega Construction, insulation removal goes step by step - first, assessing if removal is required; second, assessing the amount of work; and third, providing options for re-insulating. For the average homeowner, its important to understand that insulation is not a DIY project.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr4.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr4", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr4"}
                  How do I insulate my walls?
            #collapsegr4.collapse{"aria-labelledby" => "headinggr4", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  A well-insulated home will definitely save on energy consumption throughout the year. And for homeowners who want to reduce their hydro bill (electricity), insulation can play an important role. The fact is, properly insulating a home is considered one of the best home improvements, mainly because an energy-efficient home will save on utility costs. Every home, regardless of size, will benefit from enhanced insulation.
          / Accordion End
          / Accordion Start
          .card.card-grey
            #headinggr5.card-header.card-header-grey{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapsegr5", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapsegr11"}
                  How do I stop air leakage?
            #collapsegr11.collapse{"aria-labelledby" => "headinggr5", "data-parent" => "#accordion3", :role => "tabpanel"}
              .card-body.card-body-grey
                %p
                  Air leakage can occur in many forms, from window and door leaks, to poor insulation in the attic and roof. The result is wasted energy throughout the year, and that’s simply wasted money on winter heating and summer cooling. Anything that can be done to remedy air leakage is a good investment, and at Bottega Construction, identifying the source is always step one. Indeed, detecting the source and extent of air leakage will set the stage for appropriate remedies.
          / Accordion End
        / Accordions End
/ FAQ Section END
