/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Partners
    %ul
      %li
        %a{href: about_index_path} About Us
      %li
        Partners
.section-block.pt-50.pb-10
  .container
    .row
      .col-md-8.col-sm-12.col-12.offset-md-2
        .section-heading.center-holder
          %h2.bold
            Best
            %span.primary-color
              Insulation
            Affiliations
          -# .section-heading-line
        .text-content-small.center-holder
          %p
            We are proud to say that we are affiliated with the following companies and organizations.
    -# Affiliations
    .row.margin-30px-bottom
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/lowes.jpg);"}
          .back
            %h2 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/insulthane.jpg);"}
          .back
            %h2 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/enbridge.jpg);"}
          .back
            %h2 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/bbb.jpg);"}
          .back
            %h2 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/aftec.jpg);"}
          .back
            %h2
              Aftec Inc.
            %p
              AFTEC Corporate Design & Services is a general contracting company rendering services to comercial, industrial companies
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/opem.jpg);"}
          .back
            %h2 OPEM
            %p
              OPEM - On Point Energy Management is a full-service energy management firm committed to our sustainable future
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/lmc.jpg);"}
          .back
            %h2 Lieber Mechanical
            %p{style:"padding-top:230px"}
              Commercial construction service company that offers quality mechanical, maintenance and repair services to high-rise buildings and manufacturing facilities
      .col-md-3.col-sm-12.col-12
        .flipcard
          .front{:style => "background-image: url(/img/affiliations/3m.jpg);"}
          .back
            %h2 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
/ Affiliation boxes
