/ Page Title START
.page-title.jarallax.black-overlay-30{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/about/banner.jpg');"}
  .container
    %h1 Sustainability
    %ul
      %li
        = link_to "About Us", about_index_path
      %li
        Sustainability


.section-xs.bg-grey
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder.mt-30
          %h4.bold
            What is sustainability?
          .section-heading-line
        .text-sustainability
          %p
            Sustainability is a state in which the demands placed on the environment can be met without reducing its capacity to allow all people to live well, now and in the future. Evidence is strong that we are exceeding and eroding the earth's carrying capacity, that there are limits to growth on a finite planet.  Effects are interactive, complex, unpredictable and escalating, as we head for a global average temperature rise of more than 2 degrees centigrade over pre-industrial levels.
          %p
            Leading thinkers suggest that to stand any chance of achieving environmental sustainability, businesses need to move from a sense of right-to-exploit the natural environment to a worldview of mutual interdependence and radical eco-innovation.  Many organisations including Best Insulation are now taking on this challenge.
.section-xs
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Does sustainability matter?
          .section-heading-line
        .text-sustainability
          %p
            Sustainability is important to making sure that we have and will continue to have, the water, materials, and resources to protect human health and our environment.” Simply, it means conserving our resources like energy and water, for example, and taking care of our environment and neighborhood as best as we can.
.section-xs.bg-grey
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        .section-heading.left-holder
          %h5.bold
            Affects of sustainability
          .section-heading-line
        .text-sustainability
          %p
            The better question would be, how does sustainability not affect you? Natural resources are at the root of everything that we have or value. Sustainability issues are central to everything around us.
          %p
            The computer you are using is made from a combination of metals, plastics, and other materials which all ultimately come from resources derived from nature. Our choices to buy, use, or throw away products all have an effect on nature. This also means that as a consumer you have the power to affect change through making better choices each and every day.
